

.l-header {
  overflow: hidden;
}

.header-top-container {
  color: white;
  background-image: -webkit-gradient(linear,14% 14%,14% 86%,color-stop(0,#002147),color-stop(0.21,#002751),color-stop(1,rgba(0,60,120,0.96)));
  background-image: -webkit-linear-gradient(-90deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  background-image: -webkit-linear-gradient(270deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  background-image: -moz-linear-gradient(180deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  background-image: linear-gradient(180deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff002147,endColorstr=#f4003c78,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff002147,endColorstr=#f4003c78,GradientType=0);

  overflow: hidden;
}


html.js input.form-autocomplete {
  background-image: url(https://du1ux2871uqvu.cloudfront.net/misc/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat;
}



.block-kent-state-blocks-campus-secondary-menu {
  margin-top: .8em;
}

.block-kent-state-blocks-campus-secondary-menu a {
  color: #fff;
  text-transform: uppercase;
  font-size: 15.1999998092651px;
  font-weight: bold;
  letter-spacing: -.25px;
  text-decoration: none;
}

.wf-loading .block-kent-state-blocks-campus-secondary-menu a {
  visibility: hidden;
}

.wf-inactive .block-kent-state-blocks-campus-secondary-menu a {
  visibility: visible;
  font-family: "Arial Narrow",Arial,sans-serif;
}

.wf-active .block-kent-state-blocks-campus-secondary-menu a {
  visibility: visible;
  font-family: "tablet-gothic-semi-condensed","Arial Narrow",sans-serif;
}

.block-kent-state-blocks-campus-secondary-menu .content > a {
  padding-right: .7em;
}

.block-kent-state-blocks-campus-secondary-menu .content > a:last-of-type:after {
  content: '';
}

.block-kent-state-blocks-campus-secondary-menu .content > a:after {
  content: '|';
  position: relative;
  right: -.5em;
  font-weight: bold;
  top: -0.15em;
  color: #fff;
}

.block-kent-state-blocks-campus-secondary-menu .f-dropdown p {
  margin: 0;
}

.block-kent-state-blocks-campus-secondary-menu .flashline-login-link {
  color: rgb(234, 171, 0);
}

.block-google-appliance-ga-block-search-form {
  margin-top: 24px;
  width: 73%;
  float: left;
}
.block-google-appliance-ga-block-search-form form {
  margin-bottom: 0;
}

.block-google-appliance-ga-block-search-form input[type=submit] {
  background: url(../images/fa-search.png) center center no-repeat;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: 0;
  height: 37px;
  width: 100%;
  margin: 0!important;
  padding: 0!important;
  display: block;
  text-indent: -9999px;
}



.block-google-appliance-ga-block-search-form input[type="text"] {
  -webkit-appearance: none;
  background-color: #ffffff;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  color: rgba(0,0,0,0.75);
  display: block;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem;
  height: 2.3125rem;
  width: 81%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
  -moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
  transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  text-transform: none;
  float: right;
}
.block-google-appliance-ga-block-search-form input[type="text"]:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
  border-color: #999999; 
}


.block-google-appliance-ga-block-search-form button {
  margin-bottom: .2em;
  font-size: 1.3em;
  background-color: transparent;
}

.block-google-appliance-ga-block-search-form button:hover {
  background-color: inherit;
}

.block-google-appliance-ga-block-search-form .search-links {
  color: rgb(234, 171, 0);
  padding-right: 12.5%;
  padding-top: .5em;
}

.block-google-appliance-ga-block-search-form .search-links a {
  padding: .5em;
  color: #fff;
  text-transform: uppercase;
  font-size: 15.1999998092651px;
  font-weight: bold;
  letter-spacing: -.25px;
  text-decoration: none;
}
.block-google-appliance-ga-block-search-form .search-links a:last-child {
  margin-right: -0.5em;
}

.wf-loading .block-google-appliance-ga-block-search-form .search-links a {
  visibility: hidden;
}

.wf-inactive .block-google-appliance-ga-block-search-form .search-links a {
  visibility: visible;
  font-family: "Arial Narrow",Arial,sans-serif;
}

.wf-active .block-google-appliance-ga-block-search-form .search-links a {
  visibility: visible;
  font-family: "tablet-gothic-semi-condensed","Arial Narrow",sans-serif;
}

.block-google-appliance-ga-block-search-form a {
  font-family: "tablet-gothic-semi-condensed","Arial Narrow",sans-serif;
  text-transform: uppercase;
  font-size: .9em;
}

.block-kent-state-blocks-campus-donate {
  display: inline-block;
  vertical-align: top;
  width: 27%;
}

.block-kent-state-blocks-campus-donate img {
  width: 100px;
  top: -.3em;
  position: relative;
  transition: .3s all linear;
}

.block-kent-state-blocks-campus-donate img:hover {
  top: 0;
}

.block-kent-state-blocks-campus-logo img,.block-kent-state-blocks-campus-logo-footer img {
  width: 300px;
  -webkit-transform: translate3d(0,0,0);
  margin-top: -3em;
  padding-bottom: 1em;
}

.block-kent-state-blocks-campus-logo {
  display: inline-block;
}

.block-kent-state-blocks-campus-logo-footer {
  margin-bottom: 1em;
}

.block-kent-state-blocks-campus-logo-footer img {
  margin-top: 0;
}

.block-kent-state-blocks-group-header {
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: Garamond,Georgia,serif;
  position: relative;
}

.block-kent-state-blocks-group-header .group-parent-name {
  margin-bottom: .3em;
  line-height: initial;
  float: left;
  position: absolute;
  top: .7em;
  font-size: .9em;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  right: 1.5em;
}

.block-kent-state-blocks-group-header .group-parent-name:after {
  content: "\f0da";
  font-family: FontAwesome;
  padding-left: .5em;
}

@media only screen and (max-width:64.063em) {
  .block-kent-state-blocks-group-header .group-parent-name {
    float: none;
    position: relative;
    top: auto;
    padding-top: 1em;
    right: inherit;
    font-size: .8em;
  }
}

.block-kent-state-blocks-group-header .group-parent-name a:hover {
  text-decoration: underline;
}

.block-kent-state-blocks-group-header .group-name {
  font-size: 1.3em;
  line-height: initial;
}

@media (min-width:40.063em) {
  .block-kent-state-blocks-group-header .group-name {
    padding: .4em 0 .4em 0;
    font-size: 1.9em;
  }
}

.block-kent-state-blocks-group-header .group-info {
  margin-top: .3em;
  line-height: initial;
}

.block-kent-state-blocks-group-header .group-info span {
  margin-left: .5em;
}

.block-kent-state-blocks-group-header .group-info span:first-child {
  margin-left: 0;
}

.block-kent-state-blocks-group-header .group-info .email {
  text-decoration: underline;
}

.block.block-kent-state-blocks-group-megamenu {
  display: none;
}

@media only screen and (min-width:64.063em) {
  .block.block-kent-state-blocks-group-megamenu {
    display: block;
  }
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li {
  margin-left: -4px;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-title {
  text-transform: uppercase;
  padding: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: .95em;
  font-family: "tablet-gothic-semi-condensed","Arial Narrow",sans-serif;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-title i {
  font-size: .9em;
  margin-left: 3px;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container {
  padding: 1em;
  background-color: #fff;
  padding-top: 1.5em;
  min-height: 150px;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container a {
  transition: all .3s ease-in;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container a.active {
  font-weight: bold;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container a:hover {
  text-decoration: underline;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container a.button {
  color: #fff;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container .megamenu-links {
  margin: 0;
  text-align: left;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container .megamenu-extra p {
  font-size: .9em;
}

.block.block-kent-state-blocks-group-megamenu .content .megamenu-wrapper > li .megamenu-container .megamenu-extra img {
  max-width: 100px;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-secondary-menu {
  text-align: right;
  margin-top: 1em;
}

@media only screen and (max-width:64.063em) {
  .block.block-kent-state-blocks.block-kent-state-blocks-group-secondary-menu {
    text-align: left;
  }
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-secondary-menu > ul.menu {
  list-style: none;
  margin: 0;
  margin-bottom: 2.5em;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-secondary-menu > ul.menu > li {
  margin-bottom: .75em;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-secondary-menu > ul.menu > li a {
  font-size: 1em;
  font-family: "tablet-gothic-semi-condensed","Arial Narrow",sans-serif;
  text-transform: uppercase;
}





/*  Dropdown */
.l-header .f-dropdown {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  width: 100%;
  max-height: none;
  height: auto;
  background: #ffffff;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  margin-top: 2px;
  max-width: 200px;
}

.l-header .f-dropdown>*:first-child {
  margin-top: 0;
}

.l-header .f-dropdown>*:last-child {
  margin-bottom: 0;
}

.l-header .f-dropdown:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  border-color: transparent transparent #ffffff transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -12px;
  left: 10px;
  z-index: 99;
}

.l-header .f-dropdown:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 7px;
  border-color: transparent transparent #cccccc transparent;
  border-bottom-style: solid;
  position: absolute;
  top: -14px;
  left: 9px;
  z-index: 98;
}

.l-header .f-dropdown.right:before {
  left: auto;
  right: 10px;
}

.l-header .f-dropdown.right:after {
  left: auto;
  right: 9px;
}

.l-header .f-dropdown ul {
  margin-left: 0;
}

.l-header .f-dropdown li {
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 1.125rem;
  margin: 0;
}

.l-header .f-dropdown li:hover,.l-header .f-dropdown li:focus {
  background: #eeeeee;
}

.l-header .f-dropdown li a {
  display: block;
  padding: 0.5rem;
  color: #555555;
  font-weight: normal;
  font-size: 13.3000001907349px;
}

.l-header .f-dropdown.content {
  position: absolute;
  left: -9999px;
  list-style: none;
  margin-left: 0;
  padding: 1.25rem;
  width: 100%;
  height: auto;
  max-height: none;
  background: #ffffff;
  border: solid 1px #cccccc;
  font-size: 16px;
  z-index: 99;
  max-width: 200px;
}

.l-header .f-dropdown.content>*:first-child {
  margin-top: 0;
}

.l-header .f-dropdown.content>*:last-child {
  margin-bottom: 0;
}

.l-header .f-dropdown.tiny {
  max-width: 200px;
}

.l-header .f-dropdown.small {
  max-width: 300px;
}

.l-header .f-dropdown.medium {
  max-width: 500px;
}

.l-header .f-dropdown.large {
  max-width: 800px;
}

.l-header .dropdown.button,
.l-header button.dropdown {
  position: relative;
  padding-right: 3.5625rem;
}

.l-header .dropdown.button:before,
.l-header button.dropdown:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
  top: 50%;
}

.l-header .dropdown.button:before,
.l-header button.dropdown:before {
  border-width: 0.375rem;
  right: 1.40625rem;
  margin-top: -0.15625rem;
}

.l-header .dropdown.button:before,
.l-header button.dropdown:before {
  border-color: #ffffff transparent transparent transparent;
}

.l-header .dropdown.button.tiny,
.l-header button.dropdown.tiny {
  padding-right: 2.625rem;
}

.l-header .dropdown.button.tiny:before,
.l-header button.dropdown.tiny:before {
  border-width: 0.375rem;
  right: 1.125rem;
  margin-top: -0.125rem;
}

.l-header .dropdown.button.tiny:before,
.l-header button.dropdown.tiny:before {
  border-color: #ffffff transparent transparent transparent;
}

.l-header .dropdown.button.small,
.l-header button.dropdown.small {
  padding-right: 3.0625rem;
}

.l-header .dropdown.button.small:before,
.l-header button.dropdown.small:before {
  border-width: 0.4375rem;
  right: 1.3125rem;
  margin-top: -0.15625rem;
}

.l-header .dropdown.button.small:before,
.l-header button.dropdown.small:before {
  border-color: #ffffff transparent transparent transparent;
}

.l-header .dropdown.button.large,
.l-header button.dropdown.large {
  padding-right: 3.625rem;
}

.l-header .dropdown.button.large:before,
.l-header button.dropdown.large:before {
  border-width: 0.3125rem;
  right: 1.71875rem;
  margin-top: -0.15625rem;
}

.l-header .dropdown.button.large:before,
.l-header button.dropdown.large:before {
  border-color: #ffffff transparent transparent transparent;
}

.l-header .dropdown.button.secondary:before,
.l-header button.dropdown.secondary:before {
  border-color: #333333 transparent transparent transparent;
}









.header-top-right-region {
  text-align: right;
}



.l-footer {
  color: white;
  background-color: #002664;
  font-size: 1.2307692308em;
  font-family: HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 500;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.l-footer h3,.l-footer h4,.l-footer h5 {
  color: #eaab00;
}


.footer-middle-region ul.menu li a {
  color: white;
  text-decoration: underline;
}

.footer-bottom-region {
  color: white;
  background-color: #002664;
}

.l-footer {
  padding: 1.5em 0;
}

.footer-top-region {
  padding-top: .5em;
}

.footer-middle-region {
  text-align: center;
}

.footer-middle-region ul.menu {
  list-style: none;
  margin: 0;
}

.footer-middle-region ul.menu li {
  display: inline-block;
}

.footer-middle-region ul.menu li a {
  position: relative;
  padding: .5em;
}

.footer-middle-region ul.menu li a:after {
  content: ' - ';
  position: absolute;
  right: -.25em;
}

.footer-middle-region ul.menu li:last-child a:after {
  content: '';
}

.footer-bottom-region {
  text-align: center;
}


.block-kent-state-blocks-campus-footer-menu {
  clear: both;
}

.block-kent-state-blocks-campus-footer .container h6 {
  color: #eaab00;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-footer-menu {
  text-align: left;
  float: left;
  width: 100%;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-footer-menu a {
  font-size: .9em;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-footer-menu a:hover {
  text-decoration: underline;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-footer-menu ul.no-bullet li:first-child a {
  font-size: 1.4em;
  font-family: "museo-slab",Rockwell,Courier,serif;
  text-transform: uppercase;
  font-weight: 500;
}


.block-kent-state-blocks-campus-footer .email a {
  color:#009dd8!important;
  text-decoration: none;
}
.block-kent-state-blocks-campus-footer .email a:hover {
  color:#0cbdff!important;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-social-media {
  text-align: center;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-social-media .block-title {
  text-align: center;
  color: white;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-social-media .view-social-media .view-content {
  text-align: center;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-social-media .view-social-media .view-content .views-row {
  display: inline-block;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-contact dl h3 {
  font-family: Garamond,Georgia,serif;
  text-transform: none;
  font-size: 2em;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-contact dl dt {
  margin-bottom: 0;
  padding-top: .5em;
  text-transform: uppercase;
  font-size: .9em;
}

.block.block-kent-state-blocks.block-kent-state-blocks-group-contact dl dd {
  margin-bottom: 0;
  font-size: .9em;
}

.block.block-menu.block-menu-menu-global-footer-menu {
  float: left;
  width: 100%;
}

.block-kent-state-blocks-campus-footer .container {
  display: block;
  padding: .5em;
}

@media screen and (min-width:64.063em) {
  .block-kent-state-blocks-campus-footer .container {
    display: inline-block;
  }
}

.block-kent-state-blocks-campus-footer .container h6 {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

.block-kent-state-blocks-campus-footer .go-to-top-button {
  padding-bottom: 2em;
  font-size: .9em;

  background: url(../images/fa-arrow-circle-o-up.png) center top no-repeat;
  color: #fff!important;
  display: inline-block;
  padding-top: 2em;
  text-decoration: none;
  margin-top: 2em;
}

.block-kent-state-blocks-campus-footer .go-to-top-button i {
  margin-bottom: .1em;
}

.block-kent-state-blocks-campus-footer .body {
  margin-top: 1.75em;
}

.block-kent-state-blocks-campus-footer .body p {
  font-size: .75em;
}

.ss-footer {
  display: none;
}

.footer-rule-region {
  margin: 0 auto;
}
.footer-rule-region hr {  
  margin: 1.25rem 0 1.1875rem;
}

.social-media-footer {
  margin: 0 auto 2em auto!important;
  overflow: hidden;
display: inline-block;
float: none;
width: auto;
}
.social-media-footer,
.social-media-footer li {
  list-style: none;
  padding: 0 0.3em .3em;
  margin: 0;
}
.social-media-footer li {
  float: left;
  text-align: center;
  width: 25%;
}
.social-media-footer > li:nth-of-type(4n+1) {
  clear: both;
}

.social-media-footer li a {
  padding: 0.25em 0.4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1.5em;
  margin: .3em;
}



.social-media-network-pinterest { background-color: #c8232c; }
.social-media-network-pinterest:hover { background-color: #de4049; }

.social-media-network-flickr { background-color: #ff0084;}
.social-media-network-flickr:hover { background-color: #ff339d;}

.social-media-network-facebook { background-color: #4d69a4;}
.social-media-network-facebook:hover { background-color: #6b84b9;}

.social-media-network-twitter { background-color: #55acee;}
.social-media-network-twitter:hover { background-color: #83c3f3;}

.social-media-network-youtube { background-color: #c4302b;}
.social-media-network-youtube:hover { background-color: #d74f4b;}

.social-media-network-linkedin { background-color: #007bb6;}
.social-media-network-linkedin:hover { background-color: #009de9;}

.social-media-network-googleplus { background-color: #dd4b39;}
.social-media-network-googleplus:hover { background-color: #e47365;}

.social-media-network-instagram { background-color: #a98065;}
.social-media-network-instagram:hover { background-color: #bb9b86;}

.more-link { background-color: #737373;}

.campus-header-region {
  text-align: center;
  margin-bottom: 1em;
  margin-top: -0.75em;
}


.group-header-region {
  display: none;
}

@media (max-width:1024px) {
  .header-top-left-region,
  .header-top-right-region,
  .campus-header-region {
    display: none;
  }

  .group-header-region {
    display: block;
  }

  .group-header-region .toggle-topbar {
    display: block;
  }
}



.group-header-region .top-bar,
.group-header-region .top-bar .title-area {
  background: transparent;
  float: none;
}




.group-header-region .top-bar h1 {
  background-image: -webkit-gradient(linear,14% 14%,14% 86%,color-stop(0,#002147),color-stop(0.21,#002751),color-stop(1,rgba(0,60,120,0.96)));
  background-image: -webkit-linear-gradient(-90deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  background-image: -webkit-linear-gradient(270deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  background-image: -moz-linear-gradient(180deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  background-image: linear-gradient(180deg,#002147 0%,#002751 21%,rgba(0,60,120,0.96) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff002147,endColorstr=#f4003c78,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff002147,endColorstr=#f4003c78,GradientType=0);
}

.group-header-region .top-bar h5:hover {
  background-color: #002664;
}

.group-header-region .top-bar .top-bar-section ul {
  background-color: #002147;
}

.group-header-region .top-bar .top-bar-section ul li > a {
  background-color: #002147;
}

.group-header-region .top-bar .top-bar-section ul li > a:hover {
  background-color: #002664;
}

.group-header-region .top-bar .top-bar-section ul .flashline-login-link {
  color: #eaab00;
}




.group-header-region .top-bar {
  overflow: hidden;
  height: 90px;
  line-height: 90px;
  position: relative;
  background: #333333;
  margin-bottom: 0;
}

.group-header-region .top-bar ul {
  margin-bottom: 0;
  list-style: none;
}

.group-header-region .top-bar .row {
  max-width: none;
}

.group-header-region .top-bar form,.group-header-region .top-bar input {
  margin-bottom: 0;
}

.group-header-region .top-bar input {
  height: auto;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  font-size: 0.75rem;
}

.group-header-region .top-bar .button {
  padding-top: 0.45rem;
  padding-bottom: 0.35rem;
  margin-bottom: 0;
  font-size: 0.75rem;
}

.group-header-region .top-bar .title-area {
  position: relative;
  margin: 0;
}

.group-header-region .top-bar .name {
  display: block;
  height: 90px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.group-header-region .top-bar .name h1 {
  line-height: 90px;
  font-size: 1.0625rem;
  margin: 0!important;
}

.group-header-region .top-bar .name h1 a {
  font-weight: normal;
  color: #ffffff;
  width: 240px;
  display: block;
  padding: 0 30px;
  margin: 0 auto;
}

.group-header-region .top-bar .name h1 a img {
  top: -4px;
  position: relative;
}

.group-header-region .top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;
}

.group-header-region .top-bar .toggle-topbar a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 0 30px;
  height: 90px;
  line-height: 90px;
}

.group-header-region .top-bar .toggle-topbar.menu-icon {
  right: auto;
  left: 25px;
  top: 50%;
  margin-top: -16px;
  padding-left: 0px;
}

.group-header-region .top-bar .toggle-topbar.menu-icon a {
  color: #eaab00!important;
  font-size: 16px;
  font-weight: bold;
  height: 34px;
  line-height: 33px;
  padding: 0;
  padding-right: 75px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
}

@media screen and (max-width:40.063em) {
  .group-header-region .top-bar .title-area .name a {
    width: 190px;
  }
  .group-header-region .top-bar .toggle-topbar.menu-icon {
    left: 20px;
  }
  .group-header-region .top-bar .toggle-topbar.menu-icon a {
    font-size: 11px;
    padding-right: 60px;
  }
}



.group-header-region .top-bar .toggle-topbar.menu-icon a::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  top: 0;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px #ffffff,0 16px 0 1px #ffffff,0 22px 0 1px #ffffff;
  box-shadow: 0 10px 0 1px #ffffff,0 16px 0 1px #ffffff,0 22px 0 1px #ffffff;
}

.group-header-region .top-bar.expanded {
  height: auto;
  background: transparent;
}

.group-header-region .top-bar.expanded .title-area {
  background: #333333;
}

.group-header-region .top-bar.expanded .toggle-topbar a {
  color: #888888;
}

.group-header-region .top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px #888888,0 16px 0 1px #888888,0 22px 0 1px #888888;
  box-shadow: 0 10px 0 1px #888888,0 16px 0 1px #888888,0 22px 0 1px #888888;
}

.group-header-region .top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}

.group-header-region .top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  background: #333333;
  font-size: 16px;
  margin: 0;
}

.group-header-region .top-bar-section .divider,.group-header-region .top-bar-section [role="separator"] {
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%;
}

.group-header-region .top-bar-section ul li {
  border: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.group-header-region .top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #ffffff;
  padding: 12px 0 12px 30px!important;
  padding-left: 30px;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 0.8125rem;
  font-weight: normal;
  background: #333333;
}

.group-header-region .top-bar-section ul li > a.button {
  background: #008cba;
  font-size: 0.8125rem;
  padding-right: 30px;
  padding-left: 30px;
}

.group-header-region .top-bar-section ul li > a.button:hover {
  background: #006888;
}

.group-header-region .top-bar-section ul li > a.button.secondary {
  background: #e7e7e7;
}

.group-header-region .top-bar-section ul li > a.button.secondary:hover {
  background: #cecece;
}

.group-header-region .top-bar-section ul li > a.button.success {
  background: #43ac6a;
}

.group-header-region .top-bar-section ul li > a.button.success:hover {
  background: #358853;
}

.group-header-region .top-bar-section ul li > a.button.alert {
  background: #f04124;
}

.group-header-region .top-bar-section ul li > a.button.alert:hover {
  background: #d4290f;
}

.group-header-region .top-bar-section ul li:hover>a {
  background: #272727;
  color: #ffffff;
}

.group-header-region .top-bar-section ul li.active>a {
  background: #008cba;
  color: #ffffff;
}

.group-header-region .top-bar-section ul li.active > a:hover {
  background: #007ba0;
  color: #ffffff;
}

.group-header-region .top-bar-section .has-form {
  padding: 30px;
}

.group-header-region .top-bar-section .has-dropdown {
  position: relative;
}

.group-header-region .top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent transparent transparent rgba(255,255,255,0.4);
  border-left-style: solid;
  margin-right: 30px;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}

.group-header-region .top-bar-section .has-dropdown.moved {
  position: static;
}

.group-header-region .top-bar-section .has-dropdown.moved>.dropdown {
  display: block;
}

.group-header-region .top-bar-section .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: 99;
}

.group-header-region .top-bar-section .dropdown li {
  width: 100%;
  height: auto;
}

.group-header-region .top-bar-section .dropdown li a {
  font-weight: normal;
  padding: 8px 30px;
}

.group-header-region .top-bar-section .dropdown li a.parent-link {
  font-weight: normal;
}

.group-header-region .top-bar-section .dropdown li.title h5 {
  margin-bottom: 0;
}

.group-header-region .top-bar-section .dropdown li.title h5 a {
  color: #ffffff;
  line-height: 45px;
  display: block;
}

.group-header-region .top-bar-section .dropdown li.has-form {
  padding: 8px 30px;
}

.group-header-region .top-bar-section .dropdown li .button {
  top: auto;
}

.group-header-region .top-bar-section .dropdown label {
  padding: 8px 30px 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #777777;
  font-weight: bold;
  font-size: 0.625rem;
}

.js-generated {
  display: block;
}

@media only screen and (min-width:64.063em) {
  .group-header-region .top-bar {
    background: #333333;
    *zoom: 1;
    overflow: visible;
  }

  .group-header-region .top-bar:before,.group-header-region .top-bar:after {
    content: " ";
    display: table;
  }

  .group-header-region .top-bar:after {
    clear: both;
  }

  .group-header-region .top-bar .toggle-topbar {
    display: none;
  }

  .group-header-region .top-bar .title-area {
    float: left;
  }

  .group-header-region .top-bar .name h1 a {
    width: auto;
  }

  .group-header-region .top-bar input,.group-header-region .top-bar .button {
    font-size: 0.875rem;
    position: relative;
    top: 7px;
  }

  .group-header-region .top-bar.expanded {
    background: #333333;
  }

  .contain-to-grid .group-header-region .top-bar {
    max-width: 62.5rem;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .group-header-region .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important;
  }

  .group-header-region .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }

  .group-header-region .top-bar-section ul li {
    float: left;
  }

  .group-header-region .top-bar-section ul li .js-generated {
    display: none;
  }

  .group-header-region .top-bar-section li.hover>a:not(.button) {
    background: #272727;
    color: #ffffff;
  }

  .group-header-region .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 30px;
    line-height: 90px;
    background: #333333;
  }

  .group-header-region .top-bar-section li:not(.has-form) a:not(.button):hover {
    background: #272727;
  }

  .group-header-region .top-bar-section li.active:not(.has-form) a:not(.button) {
    padding: 0 30px;
    line-height: 90px;
    color: #ffffff;
    background: #008cba;
  }

  .group-header-region .top-bar-section li.active:not(.has-form) a:not(.button):hover {
    background: #007ba0;
  }

  .group-header-region .top-bar-section .has-dropdown>a {
    padding-right: 50px !important;
  }

  .group-header-region .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: rgba(255,255,255,0.4) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -2.5px;
    top: 45px;
  }

  .group-header-region .top-bar-section .has-dropdown.moved {
    position: relative;
  }

  .group-header-region .top-bar-section .has-dropdown.moved>.dropdown {
    display: none;
  }

  .group-header-region .top-bar-section .has-dropdown.hover>.dropdown,.group-header-region .top-bar-section .has-dropdown.not-click:hover>.dropdown {
    display: block;
  }

  .group-header-region .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    top: 1rem;
    margin-top: -2px;
    right: 5px;
    line-height: 1.2;
  }

  .group-header-region .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }

  .group-header-region .top-bar-section .dropdown li a {
    color: #ffffff;
    line-height: 1;
    white-space: nowrap;
    padding: 12px 30px;
    background: #333333;
  }

  .group-header-region .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #333333;
  }

  .group-header-region .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }

  .group-header-region .top-bar-section>ul>.divider,.group-header-region .top-bar-section>ul>[role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px #4e4e4e;
    clear: none;
    height: 90px;
    width: 0;
  }

  .group-header-region .top-bar-section .has-form {
    background: #333333;
    padding: 0 30px;
    height: 90px;
  }

  .group-header-region .top-bar-section .right li .dropdown {
    left: auto;
    right: 0;
  }

  .group-header-region .top-bar-section .right li .dropdown li .dropdown {
    right: 100%;
  }

  .group-header-region .top-bar-section .left li .dropdown {
    right: auto;
    left: 0;
  }

  .group-header-region .top-bar-section .left li .dropdown li .dropdown {
    left: 100%;
  }

  .no-js .group-header-region .top-bar-section ul li:hover>a {
    background: #272727;
    color: #ffffff;
  }

  .no-js .group-header-region .top-bar-section ul li:active>a {
    background: #008cba;
    color: #ffffff;
  }

  .no-js .group-header-region .top-bar-section .has-dropdown:hover>.dropdown {
    display: block;
  }
}











