// Buttons
// -------------------------------------------------------------------------------
.button, button
	+box-shadow(0 0 0 -2px #fff)
	color: #fff
	cursor: default
	padding-left: em-calc(25, 13) !important//goal is to get 25px for normal button (based on a 13px font)
	padding-right: em-calc(25, 13) !important//goal is to get 25px for normal button (based on a 13px font)
	+transition(all 0.3s ease)
	text-transform: uppercase
	// -webkit-font-smoothing: subpixel-antialiased

	.no-boxshadow &
		border: 4px transparent solid
		&:hover
			border: 4px #fff solid

	.button-group &
		+box-shadow(none!important)

	&:hover
		+box-shadow(0 0 0 0.30769230769231em #fff)
		color: #fff!important

	@each $color in $colors
		&.#{nth($color, 1)}
			background-color: nth($color, 2)
			&:hover
				background-color: nth($color, 3)

	&.color6
		color: $color6-hover
		&:hover
			background-color: $color6-hover
			color: $color6

	&.prefix,	
	&.postfix
		line-height: $form-spacing * 2.085
		&:hover
			+box-shadow(none)

	i
		margin: em-calc(-9) 0 em-calc(-9) 0.75em


a.button, button
	cursor: pointer

.button.dropdown
	padding-right: em-calc(25, 13) * 2.25!important
	text-align: left
	&:before
		background: url(../img/arrow_down_white.svg) 0 0 no-repeat
		+background-size(100% auto)
		width: 1.25em !important
		height: 0.7em !important
		border: 0 !important
		margin: -0.3em 0 0 0 !important //-0.625em !important
		right: em-calc(25, 13) !important


// Button Text
// -------------------------------------------------------------------------------
.button-text, .button-text-email
	font-family: $header-font-family
	font-weight: 500
	text-decoration: none

.button-text
	text-transform: uppercase

.button-text-email
	color: $color2

.button-icon
	text-decoration: none
	i
		margin-right: 0.5em
		margin-bottom: -0.1em

// Button Split Anchor
// -------------------------------------------------------------------------------
.split-action
	overflow: hidden
	position: relative
	a
		display: block
		padding: em-calc(17, 13) em-calc(25, 13)
		position: absolute
		top: 0
	a:first-child
		left: 0
	a:last-child
		right: 0


// Dropdowns
// -------------------------------------------------------------------------------
.title-dropdown
	+clearfix
	h1, h2, h3, h4, h5, h6
		float: left
		margin-right: 0.5em

		@media only screen and (max-width: $medium-screen)
			float: none

	.dropdown
		margin-top: -0.75em

		@media only screen and (max-width: $medium-screen)
			margin-bottom: 3em




// Icons
// -------------------------------------------------------------------------------
.i-arrow-left-white,
.i-arrow-left-white-light,
.i-arrow-right-white,
.i-arrow-right-white-light,
.i-arrow-left-color2
	display: inline-block
	background-position: left center
	background-repeat: no-repeat
	+background-size(auto 100%)
	outline: none
	width: +em-calc(9)
	height: 1.25em
	text-indent: -9999px

.i-arrow-left-white
	background-image: url(../img/arrow_left_white.svg)
.i-arrow-right-white
	background-image: url(../img/arrow_right_white.svg)
.i-arrow-left-white-light
	background-image: url(../img/arrow_left_white_light.svg)
.i-arrow-right-white-light
	background-image: url(../img/arrow_right_white_light.svg)
.i-arrow-left-color2
	background-image: url(../img/arrow_left_color2.svg)

.i-more-white
	display: inline-block
	background: url(../img/i_more_white.svg) left center no-repeat
	+background-size(contain)
	outline: none
	width: 51px
	height: 28px
	text-indent: -9999px

.i-play-white
	display: inline-block
	background: url(../img/i_play_white.svg) center center no-repeat
	+background-size(26px 26px)
	width: +em-calc(28px)
	height: +em-calc(28px)

.i-magnifier
	background: url(../img/i_magnifier.svg) center center no-repeat
	+background-size(18px 18px)
	display: inline-block
	width: 1em


// Letter
// -------------------------------------------------------------------------------
.letter
	background-color: $color0
	+border-radius(2em)
	color: #fff!important
	display: block
	font-size: em-calc(32)
	line-height: 1.9em
	text-decoration: none
	text-align: center
	width: 2em
	height: 2em
	&:hover
		background-color: $color0-hover







