// Horizontal Rule
// -------------------------------------------------------------------------------
hr
	margin: $column-width 0


// Random
// -------------------------------------------------------------------------------
blockquote
	font-style: italic
	padding-top: $paragraph-margin-bottom
	padding-bottom: $paragraph-margin-bottom
	cite
		margin-top: 0.5em

address
	font-style: normal
	margin-bottom: $paragraph-margin-bottom * 2


// Tables
// -------------------------------------------------------------------------------
table
	border: 0!important
	margin-top: $paragraph-margin-bottom * 2
	margin-bottom: $paragraph-margin-bottom * 2
	td,
	th
		padding-left: 0 !important
		text-align: left
	th
		border-bottom: 1px lighten($table-head-font-color, 45%) solid
		padding-top: 0 !important
		padding-bottom: 0.85em !important
	
	td:last-child
		padding-right: 0

	tr:first-child td
		padding-top: 0.85em


// Lists
// -------------------------------------------------------------------------------
ol li ol,
ol li ul,
ul li ul,
ul li ol
	margin-top: 1em
	margin-bottom: 1em !important