// The Grid
// -------------------------------------------------------------------------------
.lt-ie9
	.row
		//width: $row-width
		max-width: $row-width
		// min-width: $row-width
		margin: 0 auto
		.row
			width: auto
			max-width: none
			min-width: 0
			margin: 0 -15px
			
			&.collapse
				margin: 0

		&.collapse
			.column, .columns
				padding: 0

	.column, .columns
		float: left
		min-height: 1px
		padding: 0 -15px
		position: relative

		&.large-centered
			float: none
			margin: 0 auto


	[class*="column"] + [class*="column"]:last-child
		float: right
	[class*="column"] + [class*="column"].end
		float: left

	.last-child
		float: right!important


	@for $i from 1 through $total-columns
		.large-#{$i}, .row .large-#{$i}
			width: $i * $column-width

		.row .large-offset-#{$i}
			margin-left: $i * $column-width

		.large-pull-#{$i}
			right: $i * $column-width

		.large-push-#{$i}
			left: $i * $column-width


	// Nicolas Gallagher's micro clearfix
	.row
		*zoom: 1
		&:before, &:after
			content: " "
			display: table

		&:after
			clear: both


// Top Bar
// -------------------------------------------------------------------------------
.lt-ie9
	+top

	.top.contain-to-grid .top-bar
		max-width: $row-width
		margin: 0 auto

	// Right and Left Navigation that stacked by default
	.top-bar-section
		ul li
			& > a
				background: $topbar-dropdown-link-color

			// Apply the hover link color when it has that class
			&:hover > a
				background: $topbar-link-bg-hover
				color: $topbar-link-color-hover

			// Apply the active link color when it has that class
			&.active > a
				background: $topbar-link-bg-active
				color: $topbar-link-color-active

	.top-search .button-search
		color: $color1
		display: block
		font-size: +em-calc(18px)
		height: $topbar-height
		outline: none
		padding: 0 $topbar-height / 3
		position: relative
		text-decoration: none
		z-index: 99
		+box-shadow(inset 0 0 $color3)

		&:hover
			background-color: $color1
			color: #fff

		&.active
			+box-shadow(inset 0 $topbar-height $color3)
			color: #fff

