// Layouts
// -------------------------------------------------------------------------------
.layout-main
	+grid-row

	.sidebar
		+grid-column(3, $offset:1, $collapse:true)
		padding-top: $column-width !important
		padding-right: 2em

	.content
		+grid-column(12, $collapse:true)
		border-left: 1px #e2dddb solid
		padding: $column-width

		// Offset elements
		hr, .panel, .panel-pattern
			margin-left: - gridCalc(1, 10)
			margin-right: - gridCalc(1, 10)

		.panel, .panel-pattern
			padding: gridCalc(1, 10)


	@media only screen and (max-width: $small-screen)
		.sidebar
			display: none
		.content
			border: 0
			width: 100%

			// Offset elements
			hr, .panel, .panel-pattern
				margin-left: - gridCalc(1, 14)
				margin-right: - gridCalc(1, 14)

			.panel, .panel-pattern
				padding: gridCalc(1, 14)



.layout-content-with-author
	+grid-row

	.sidebar
		+grid-column(3, $offset:1, $collapse:true)
		padding-top: $column-width !important
		padding-right: 2em

	.content
		+grid-column(11, $collapse:true)
		border-left: 1px #e2dddb solid

		.content-body
			border-right: 1px #e2dddb solid
			float: left
			margin-left: gridCalc(1, 11)
			padding: gridCalc(1, 11) (gridCalc(1, 11) / 2) gridCalc(1, 11) 0
			position: relative
			width: gridCalc(7.5, 11)

		.content-author
			float: right
			padding-top: gridCalc(1, 11)
			width: gridCalc(2, 11)


	@media only screen and (max-width: $medium-screen)
		.content
			+grid-column(12, $collapse:true)
			.content-body
				border: 0
				float: none
				margin-left: gridCalc(1, 12)
				padding: gridCalc(1, 12) 0
				width: gridCalc(10, 12)

			.content-author
				clear: both
				float: none
				padding-top: 0
				margin-left: gridCalc(1, 12)
				width: gridCalc(11, 12)

				.profile-summary
					.photo
						width: gridCalc(2, 12)
						float: left
						margin-right: 1.5em
						margin-bottom: gridCalc(1, 12)


	@media only screen and (max-width: $small-screen)
		.sidebar
			display: none

		.content
			width: 100%


// Generic Content Block
// -------------------------------------------------------------------------------
.block-summary
	padding: 1.25em 0
	h3
		margin-bottom: em-calc(4, 14)
	p
		margin-bottom: em-calc(5)
	.photo
		margin-top: 0.75em


.block-full-summary
	+clearfix
	margin-bottom: $column-width
	h3
		margin-bottom: em-calc(4, 14)
	.photo
		margin-bottom: 2em
	.block-content
		float: left
		width: gridCalc(6,10)
	.button
		float: right

	@media only screen and (max-width: $small-screen)
		.photo
			margin-left: - gridCalc(1,14)
			margin-right: - gridCalc(1,14)

		.block-content,
		.button
			float: none
			width: 100%


// Panels
// -------------------------------------------------------------------------------
.panel
	padding: $column-width
	text-align: center
	h1, h2, h3, h4, h5, h6
		text-transform: uppercase
		margin-bottom: 1em!important
	p
		margin-bottom: 2.5em


@each $color in $colors
	.panel-#{nth($color, 1)}
		background-color: nth($color, 2)
		padding: $column-width

.panel-pattern
	+panel(#fff, $panel-padding, false)
	background-image: url(../img/bg_pattern.gif)
	border-bottom: 1px #e2dddb solid

.panel-small
	padding-top: em-calc(22) !important
	padding-bottom: em-calc(22) !important

.panel-center
	text-align: center
	.button
		margin: 0 0.5em

		@media only screen and (max-width: $small-screen)
			float: none
			margin: 4% 0 0 0
			width: 100%
			&:first-child
				margin-top: 0

.panel-photo-left,
.panel-photo-right
	overflow: hidden
	padding: 0 !important
	position: relative
	text-align: left

	.panel-content
		width: gridCalc(7, 12)
		padding: $column-width
		padding-bottom: $column-width * 2
	h2
		margin-top: 0

	.panel-photo
		display: block
		width: gridCalc(5, 12)
		overflow: hidden
		position: absolute
		height: 100%
		+background-size(cover)
		+opacity(0.7)

	.button
		margin-bottom: $column-width
		position: absolute
		bottom: 0

	@media only screen and (max-width: $small-screen)
		.panel-content
			width: 100%
			padding-bottom: 0
			text-align: center
		.button
			position: relative
		.panel-photo
			display: none
	
.panel-photo-left
	.panel-content
		float: right
	.panel-photo
		left: 0

.panel-photo-right
	.panel-content
		float: left
	.panel-photo
		right: 0



// Panels with equal buttons
// -------------------------------------------------------------------------------
@for $i from 1 through 12
	.even-#{$i} .button
		$marginTotal: ($i * 2%) - 2
		width: (100% - $marginTotal) / $i

.even-1, .even-2,
.even-3, .even-4,
.even-5, .even-6,
.even-7, .even-8,
.even-9, .even-10
	overflow: hidden
	.button
		margin-right: 2%
		float: left
		&:last-child
			margin-right: 0

		// LT IE9
		&.last-child
			margin-right: 0
	
	@media only screen and (max-width: $small-screen)
		.button
			float: none
			margin-top: 4%
			width: 100%
			&:first-child
				margin-top: 0
	


// Labels
// -------------------------------------------------------------------------------
.label
	background-color: $color7
	font-family: $header-font-family
	line-height: 1em
	padding: 0.80em 1em 0.7em
	text-transform: uppercase
	


// Dates
// -------------------------------------------------------------------------------
time
	background-color: $color5
	color: #fff
	display: inline-block
	font-size: +em-calc(12)
	font-family: $header-font-family
	padding: +em-calc(15, 12) 0
	text-align: center
	text-transform: uppercase
	min-width: 90px

	.dd
		display: block
		font-size: +em-calc(45, 12)
		line-height: +em-calc(37, 45)
		letter-spacing: -0.05em

time.round
	padding: 0.55em em-calc(25, 13)
	background-color: $color2
	+border-radius(1000px)



// Events
// -------------------------------------------------------------------------------
%event
	position: relative
	overflow: hidden
	a
		text-decoration: none

	time
		position: absolute

	.event-content
		padding: 0.25em 0 0.25em 105px
		// min-height: 111px

	.time,
	.location
		text-transform: uppercase
		font-family: $header-font-family
	.time
		display: block
		margin-top: 0.5em

// Block
.event-summary
	@extend %event
	min-height: 105px
	.time
		color: $color2

// Featured
.event-featured
	+background-size(cover)
	padding: $column-gutter

	article
		@extend %event
		background-color: $color7
		color: #fff
		padding: 1.5em
		margin: 0 auto
		width: 65%

		a
			font-size: em-calc(18)
			line-height: 1em
			font-weight: bold
			text-decoration: none
			&:hover
				color: rgba(#fff, 0.9)
		time
			background-color: transparent
			border: 3px #fff solid

	@media only screen and (max-width: $medium-screen)
		article
			width: 85%

	@media only screen and (max-width: $small-screen)
		padding: 0
		article
			background-color: rgba($color7, 0.8)
			width: 100%

.event-summary-white
	@extend %event
	color: #fff
	time
		background-color: #fff
		color: $color5


// Details
// .event


// Listing
.list-events-3col
	+grid-row(collapse)
	margin: 0 auto

	.event-summary
		+grid-column(4, $collapse:true, $offset:1)
		margin-bottom: $column-gutter
		&:nth-child(3n+1)
			clear: both

	@media only screen and (max-width: $medium-screen)
		.event-summary
			+grid-column(6.5, $collapse:true, $offset:1)
			&:nth-child(3n+1)
				clear: none
			&:nth-child(2n+1)
				clear: both

	@media only screen and (max-width: $small-screen)
		.event-summary
			width: gridCalc(14, 16)
			margin: 0 gridCalc(1, 16) gridCalc(1, 16)


// Intro: Filters + Featured
.events-intro
	margin-top: $column-gutter
	margin-bottom: $column-gutter

	.events-filters
		+grid-column(5, $collapse:true, $offset:1)
		.wrap
			margin-right: $column-gutter

	.event-featured
		+grid-column(9, $collapse:true)
		height: 291px
		position: relative
		article
			position: absolute
			top: 50%
			left: 50%
			+transform(translateX(-50%) translateY(-50%))
			
			.no-csstransforms &
				top: 75px
				left: 105px

	@media only screen and (max-width: $medium-screen)
		.events-filters
			width: gridCalc(7, 16)

		.event-featured
			width: gridCalc(7, 16)

	@media only screen and (max-width: $small-screen)
		.events-filters
			margin-bottom: gridCalc(1, 16)
			width: gridCalc(14, 16)
			.wrap
				margin-right: 0

		.event-featured
			height: auto
			width: gridCalc(14, 16)
			margin-left: gridCalc(1, 16)
			margin-right: gridCalc(1, 16)

			article
				position: relative
				top: 0
				left: 0
				+transform(translateX(0) translateY(0))


// Intro: Filters + Slider
.events-intro-home
	.events-filters
		+grid-column(5, $collapse:true, $offset:1)

	.flexslider-home-events-container
		width: gridCalc(9, 16)
		float: right

	.flexslider-home-events-container-small
		display: none

	@media only screen and (max-width: $medium-screen)
		.events-filters
			background: none
			width: 100%
			margin: 0 0 $column-gutter 0
			text-align: left
			+clearfix
			.wrap
				background-color: transparent
				padding: 0

			h1
				color: $color5
				float: left
				margin: 0 2% 0 0!important
				&:after
					display: none

			.button
				float: left
				width: 35%
				margin-left: 2%
				margin-top: -1.25em

		.flexslider-home-events-container
			width: 100%

	
	@media only screen and (max-width: $small-screen)
		.events-filters,
		.flexslider-home-events-container
			display: none

		.flexslider-home-events-container-small
			display: block


.events-filters
	.wrap
		background-color: $color5
		padding: $column-gutter
	h1
		margin-top: 0.25em !important
		margin-bottom: 2.5em

	.button
		margin-top: 1em
		width: 100%



// Profiles
// -------------------------------------------------------------------------------
// Block
.profile-summary
	.photo
		width: 100%
		height: auto

	h2
		margin: 1.2em 0 0.6em 0
		font-size: em-calc(14)
		font-weight: 500
		line-height: em-calc(16, 14)
		text-transform: uppercase

	&.small
		.photo
			width: 50%

.profile-job-title
	text-transform: uppercase


// Block with bigger photo and description
.profile-full-summary
	margin-bottom: $column-width
	+clearfix
	.photo
		float: left
		margin-right: 4%
		width: 26%
		height: auto

	.profile-content
		float: left
		width: 70%
	h2
		margin: 1.2em 0 1em 0
		font-size: em-calc(15)
		font-weight: 500
		line-height: 1em
		text-transform: uppercase
	p
		margin-top: 1em

	@media only screen and (max-width: $small-screen)
		.photo
			float: none
			margin-right: 0
			width: 50%
			margin-bottom: $column-width

		.profile-content
			float: none
			width: 100%

// Details
.profile
	.photo
		float: left
		width: 35%
		margin: 0 5% 2.5% 0

	h1
		margin-bottom: 0.5em
		span
			display: block

	.intro
		float: right
		width: 60%

	section
		clear: both
		padding-top: 4em
		*:last-child
			margin-bottom: 0

		&.first
			clear: none
			float: right
			width: 60%
			
	@media only screen and (max-width: $medium-screen)
		section.first
			clear: both
			float: none
			width: 100%
	
	@media only screen and (max-width: $small-screen)
		.photo
			float: right
			margin: 0 0 2.5% 5%
			width: 25%

		.intro
			float: left
			width: 70%



// Listing
.list-profiles
	overflow: hidden
	margin-bottom: $column-gutter * 3

	.profile-summary
		float: left
		width: 22.375%
		margin-top: $column-gutter * 1.5
		margin-right: 3.5%

		&:nth-child(4n+1) // Because of title
			margin-right: 0
		&:nth-child(4n+2)
			clear: both

		// LT IE9
		&.nth-child-4n1
			margin-right: 0
		&.nth-child-4n2
			clear: both


	@media only screen and (max-width: $medium-screen)
		.profile-summary
			width: 31%

			&:nth-child(4n+1) // Because of title
				margin-right: 3.5%
			&:nth-child(3n+1) // Because of title
				margin-right: 0
			&:nth-child(4n+2)
				clear: none
			&:nth-child(3n+2)
				clear: both

	@media only screen and (max-width: $small-screen)
		.profile-summary
			width: 47%
			clear: none!important
			margin-right: 0!important
			&:nth-child(odd)
				float: right
			&:nth-child(even)
				clear: both



// Papers
// -------------------------------------------------------------------------------
// Summary
.paper-summary
	.paper-title
		text-transform: uppercase

// Listing
.list-papers
	overflow: hidden
	.paper-summary
		float: left
		width: gridCalc(8, 16)
		padding-right: $column-gutter
		margin-bottom: $column-gutter

		&:nth-child(odd)
			clear: both
		&:nth-child(even)
			float: right

		@media only screen and (max-width: $medium-screen)
			float: none!important
			padding-right: 0!important
			width: 100%



// Contacts
// -------------------------------------------------------------------------------
.list-contacts
	overflow: hidden
	> article
		float: left
		padding-right: $column-gutter
		margin-top: $column-gutter
		width: gridCalc(4, 10)

		&:nth-child(odd)
			clear: both

		&:first-child,
		&:nth-child(2)
			margin-top: 0

		p:last-child
			margin-bottom: 0

		@media only screen and (max-width: $small-screen)
			float: none
			padding-right: 0
			margin-top: $column-gutter
			width: 100%

			&:nth-child(2)
				margin-top: $column-gutter

// News
// -------------------------------------------------------------------------------
.news-summary,
.news-summary-slider
	overflow: hidden
	position: relative
	text-align: center

	.news-overlay
		background-color: rgba(#000026, 0.86)
		+opacity(0)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		+transition(all 0.4s ease)
		z-index: 90

	.b-readmore
		position: absolute
		top: 50%
		left: 50%
		+opacity(0)
		+transform(translateX(-50%) translateY(200%))
		z-index: 100
		-webkit-font-smoothing: subpixel-antialiased

	.news-domain
		display: block
		font-family: $header-font-family
		+force-wrap
		line-height: 1.1em

	&:hover
		.news-overlay
			+opacity(1)
		.b-readmore
			+opacity(1)
			+transform(translateX(-50%) translateY(-50%))
	
	// For Touch devices
	.touch &
		.news-overlay,
		.b-readmore
			display: none


// In Masonry
.news-summary
	background-color: #e2dddb
	color: #000
	// width: 48%

	.news-content
		padding: 3em

	img
		margin-bottom: -4.1em

	h2
		color: #000
		font-size: em-calc(14)
		line-height: em-calc(22, 14)
		text-transform: uppercase



// In Slider
.news-summary-slider
	background-color: $color4
	color: #fff
	min-height: 255px

	.news-content
		padding: 0 2em
		position: absolute
		top: 50%
		+transform(translateY(-50%))
		width: 100%
		z-index: 80
		// -webkit-font-smoothing: antialiased
	
	.news-photo
		+background-size(cover)
		+opacity(0.6)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: 70

	h2
		color: #fff
		font-size: em-calc(13)
		line-height: em-calc(18, 13)
		text-transform: uppercase


// Details
.news
	time
		position: absolute
		top: 0
		margin-top: -1.5em


// News Slider
.news-slider
	+grid-row(nest)
	background-color: $color5

	&, > li
		margin: 0
		padding: 0
		list-style: none

	> li
		+grid-column(5.333333, $collapse: true)
		border: 1px $color2 solid
		border-bottom: 0
		border-right: 0

	> li:nth-child(1),
	> li:nth-child(2),
	> li:nth-child(3)
		border-top: 0

	> li:nth-child(3n + 1)
		clear: both
		border-left: 0

	.news-slider-nav
		background-color: $color4
		+grid-column(5.333333, $collapse: true)
		padding: 2em 0
		text-align: center
		min-height: 255px
		overflow: hidden

		h1
			text-transform: uppercase
			margin-bottom: 0em

	.news-slider-nav-controls
		color: #fff
		font-size: em-calc(68)
		line-height: 1em
		font-weight: 300
		letter-spacing: -0.05em
		overflow: hidden
		padding: 0 7%
		margin: 0.4em 0

		div
			float: left
			width: 80%

		.i-arrow-left-white-light,
		.i-arrow-right-white-light
			float: left
			margin-top: 0.3em
			width: +em-calc(21, 68)
			height: +em-calc(38, 68)
			&:hover
				+opacity(0.25)

		.i-arrow-right-white-light
			float: right


// Images
// -------------------------------------------------------------------------------
.photo
	border: 3px #c7c2ba solid
	display: block
	img
		display: block
		width: 100%
		height: auto

	&.active
		border: 4px $color7 solid

	&.large
		border-width: 5px

a.photo:hover
	border-color: $color7



// Home
// -------------------------------------------------------------------------------
// Main Slider
.flexslider-home-main
	min-height: 665px
	text-align: center
	background-color: $color2
	
	.slides li
		background-repeat: no-repeat
		background-position: center center
		+background-size(cover)
		padding-top: 285px !important
		min-height: 665px

	h4
		color: #fff
		font-weight: normal!important
		font-size: em-calc(32)
		line-height: em-calc(37, 32)
		margin: 0 auto 0.25em auto !important
		text-transform: uppercase
		+text-shadow(2px 3px 4px rgba(0,0,0,0.5))
		width: 80%
		@media only screen and (min-width: $medium-screen)
			width: 60%

		a:hover
			color: rgba($color6, 0.75)
			text-decoration: none

	p
		color: #fff
		font-size: em-calc(15)
		letter-spacing: 0.075em
		margin: 0 auto
		+text-shadow(2px 3px 4px rgba(0,0,0,0.5))
		width: 70%
		@media only screen and (min-width: $medium-screen)
			width: 50%

	a.button-slide
		color: $color6
		text-transform: uppercase
		&:hover
			color: rgba($color6, 0.75)
			text-decoration: none

	.label
		position: absolute
		top: 160px
		left: 50%
		z-index: 99
		+transform(translateX(-50%))

	.flex-control-nav
		top: 227px


	@media only screen and (max-width: $small-screen)
		min-height: 295px
		text-align: left

		.slides li
			padding-top: 100px !important
			min-height: 295px
	
		h4
			font-size: em-calc(18)
			margin: 0 0 1em $column-width !important

		p,
		.label
			display: none

		.button-slide
			margin-left: $column-width
			background-color: #fff
			+box-shadow(0 0 0 -2px #fff)
			+border-radius($button-round)
			color: $color5!important
			display: inline-block
			font-size: em-calc(13)
			padding: 0.55em
			padding-left: em-calc(25, 13) !important
			padding-right: em-calc(25, 13) !important
			+transition(all 0.3s ease)
			text-transform: uppercase
			text-decoration: none

		.flex-control-nav
			text-align: left!important
			top: 50px
			left: $column-width
			margin-left: -8px!important


// News Slider
.layout-homepage
	clear: both
	@media only screen and (min-width: $medium-screen)
		.news-slider
			margin: -65px 0

	@media only screen and (max-width: $small-screen)
		.news-slider,
		.flexslider-home-secondary
			display: none


// Video
.video-full
	background-color: $primary-color
	display: table
	width: 100%
	height: 460px
	position: relative

	div
		display: table-cell
		text-align: center
		vertical-align: middle

	h4
		color: #fff
		font-weight: normal!important
		font-size: em-calc(32)
		line-height: em-calc(37, 32)
		margin: 0 auto 0.25em auto !important
		text-transform: uppercase
		width: 80%
		@media only screen and (min-width: $medium-screen)
			width: 60%

	p
		color: #fff
		margin-left: auto
		margin-right: auto
		width: 75%
		@media only screen and (min-width: $medium-screen)
			width: 50%

	h4, p, .button
		position: relative
		z-index: 80

	.video-photo
		+opacity(0.7)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-repeat: no-repeat
		background-position: center center
		+background-size(cover)
		z-index: 70

	@media only screen and (max-width: $small-screen)
		height: 195px
		h4, p
			display: none


// Event Slider
.flexslider-home-events
	position: relative
	.slides
		li
			+grid-row(collapse)
			.event-summary
				float: left
				width: (100% - $column-width) / 2
				margin-bottom: $column-gutter
				&:nth-child(odd)
					float: right
				&:nth-child(2n+1)
					clear: both

.flexslider-home-events-container
	overflow: hidden
	.flex-control-nav
		float: right
		position: relative
		top: auto
		bottom: auto
		margin-top: 0.75em!important
		width: auto
	.button
		float: left


.flexslider-home-events-container-small
	background-color: $color5
	padding: $column-gutter 1.5em 1.5em 1.5em
	position: relative
	margin-bottom: 2em
	> a
		bottom: -30px
		right: 0
		position: absolute


// Secondary Slider
.flexslider-home-secondary
	min-height: 470px
	background-color: #0068a6

	.slides li
		height: 470px

		article
			display: table!important
			height: 100%
			> div
				display: table-cell!important
				text-align: center
				vertical-align: middle
	
		.slide-photo
			+opacity(0.7)
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-repeat: no-repeat
			background-position: center center
			+background-size(cover)
			z-index: 70

		h4, p, .button
			position: relative
			z-index: 80

		h4
			color: #fff
			font-weight: normal!important
			font-size: em-calc(32)
			line-height: em-calc(37, 32)
			margin: 0 auto 0.25em auto !important
			text-transform: uppercase
			+text-shadow(2px 3px 4px rgba(0,0,0,0.5))
			width: 80%
			@media only screen and (min-width: $medium-screen)
				width: 60%

		p
			color: #fff
			margin-left: auto
			margin-right: auto
			+text-shadow(2px 3px 4px rgba(0,0,0,0.5))
			width: 75%
			@media only screen and (min-width: $medium-screen)
				width: 50%

	.flex-control-nav
		bottom: 50px
		top: auto
