// Shell
// -------------------------------------------------------------------------------
html
	font-size: 100%

body
	line-height: $base-line-height
	letter-spacing: 0.05em

	.no-mediaqueries &
		min-width: $row-width


// KENT Header
// -------------------------------------------------------------------------------
header
	background-color: $color5
	height: 127px


// Nav & COBA Header
// -------------------------------------------------------------------------------
.title-main
	color: #000
	text-transform: uppercase
	font-size: em-calc(21)
	line-height: 1em
	margin: 1.25em 0 1.15em 0
	text-align: center

.top
	+box-shadow(0 5px 15px -5px rgba(#000, 0.2))
	border-top: 1px $color1 solid

	.no-boxshadow &
		border-bottom: 1px $color1 solid

.top-search
	height: $topbar-height

	.button-search
		display: block
		font-size: +em-calc(18px)
		height: $topbar-height
		outline: none
		padding: 0 $topbar-height / 3
		position: relative
		text-decoration: none
		z-index: 99
		+box-shadow(inset 0 0 $color3)

	.block-search
		input
			background-color: transparent
			border: 0
			color: #fff
			+transition(none)
			text-transform: none
			font-weight: normal
			letter-spacing: 0.1em
			font-size: em-calc(13)

		.form-submit
			display: none

		::-webkit-input-placeholder
			color: #b2c3dc
		::-moz-placeholder
			color: #b2c3dc
		::-moz-placeholder
			color: #b2c3dcx
		::-ms-input-placeholder
			color: #b2c3dc

	.expanded &
		background-color: $color3
		border: 0
		position: relative

		.button-search
			color: #fff
			float: left
			i
				background-image: url(../img/i_magnifier_white.svg)

		.block-search
			position: relative
			border-left: 1px #b2c3dc solid
			float: left
			overflow: hidden
			width: 80%
			margin-top: 0.7em


.top-bar-section
	font-family: $header-font-family
	z-index: 99
	ul
		margin: 0
		li
			float: left
			height: $topbar-height
			border-right: 1px $color1 solid
			&:first-child
				border-left: 1px $color1 solid
			& a
				display: table
				line-height: em-calc(16, 12) !important
				padding: 0 em-calc(25, 12) !important
				text-decoration: none
				width: 100%
				height: 100%
				span
					display: table-cell
					vertical-align: middle
					text-align: center

		li.has-dropdown > a:after
			background: url(../img/arrow_right_white.svg) 0 0 no-repeat
			+background-size(contain)
			border: 0
			margin-top: -0.5em
			width: 0.625em !important
			height: 1em !important
			right: 0

	a.active
		background-color: $color1
		color: #fff

	.expanded &
		ul
			margin-bottom: 0!important
			li
				display: block
				float: none
				font-size: +em-calc(16px)
				line-height: +em-calc(17px)
				height: auto
				border: 0px
				border-bottom: 1px $color3 solid
				& > a
					color: #fff
					display: block
					font-size: 1em
					padding: 0.8em 1em!important
					text-align: left
					&:hover
						background-color: $color3

			li.title
				font-size: +em-calc(16px)
				line-height: +em-calc(17px)
				h5
					font-size: 1em
					margin: 0!important
					a
						background: #fff url(../img/arrow_left_color2.svg) 1em 50% no-repeat
						color: $color2
						padding: 0.8em 2em!important
						text-align: left
						&:hover
							background-color: $color1
							background-image: url(../img/arrow_left_white.svg)
							color: #fff

			li.divider
				border-bottom-color: $color3

		.dropdown li
			border-bottom: 1px $color3 solid


.top-bar
	.name
		display: table-cell
		color: #000
		font-family: $header-font-family
		font-size: em-calc(16)
		line-height: em-calc(17, 16)
		text-transform: uppercase
		padding: 0 70px 0 20px
		vertical-align: middle


	.toggle-topbar.menu-icon
		#{$opposite-direction}: 20px
		margin-top: -19px
		a
			font-size: em-calc(10)
			text-indent: -1px
			width: 30px
			height: 34px
			line-height: 1em

			span
				width: 30px
				height: 0
				+box-shadow(0px 15px 0 2px $topbar-menu-icon-color, 0 23px 0 2px $topbar-menu-icon-color, 0 31px 0 2px $topbar-menu-icon-color)



// Top Bar styles intended for screen sizes below the breakpoint.
@media #{$topbar-media-query-max}
	.top-bar,
	.top-bar .name
		height: 65px

	.title-main
		display: none


// Top Bar style between iPads Portrait and iPads Landscape
@media only screen and (min-width: $topbar-breakpoint) and (max-width: $medium-screen)
	.top-bar-section
		background-color: #fff
		width: 93%
		> ul
			> li
				width: 14%
				a
					padding-left: 10%!important
					padding-right: 10%!important
			> li:first-child
				border-left: 0
			> li:last-child
				float: none
				overflow: hidden
				width: auto
				a
					padding-left: 10%!important
					padding-right: 10%!important

	.top-search
		width: 7%
		.button-search
			border-right: 0!important
			i
				width: 100%


// Top Bar styles intended for screen sizes above the breakpoint.
=top
	.top
		+box-shadow(0 5px 15px -5px rgba(#000, 0.2), 0 -1px 0 0 #ededed)

	.top-bar .name
		display: none

	.top-search
		float: right

		.button-search
			background-color: #fff
			border-right: 1px $color1 solid
			+transition(box-shadow 0.1s 0.1s linear, background-color 0.3s ease, color 0.3s ease)
			&.active
				+transition(box-shadow 0.1s 0s linear)


	.button-search
		&:hover
			background-color: $color1
			i
				background-image: url(../img/i_magnifier_white.svg)

		&.active
			+box-shadow(inset 0 $topbar-height $color3)
			i
				background-image: url(../img/i_magnifier_white.svg)


	.block-search
		background-color: $color3
		height: $topbar-height
		padding: 0.9em
		position: absolute
		top: $topbar-height
		right: 0
		+transform(translate3d(0, -100%, 0))
		+transition(all 0.1s 0s linear)
		width: 50%
		z-index: 88

		&.active
			+transform(translate3d(0, 0, 0))
			+transition(all 0.1s 0.1s linear)

		.no-csstransforms3d &
			top: 0
		.no-csstransforms3d &.active
			top: $topbar-height

		input
			top: 0

	.top-bar-section
		float: right
		li.has-dropdown
			> a
				padding: 0 em-calc(25, 12) !important
			> a:after
				display: none
			.dropdown
				display: none!important


@media #{$topbar-media-query}
	+top



// Side Nav
// -------------------------------------------------------------------------------
.side-nav
	li
		line-height: +em-calc(18px)
		padding-top: +em-calc(16px)

		&:first-child
			padding-top: 0
	
		a
			text-decoration: none
			display: inline-block


// Footer
// -------------------------------------------------------------------------------
footer
	background-color: $color5
	color: #fff
	padding-top: $column-gutter * 2
	padding-bottom: $column-gutter * 2

	@media only screen and (max-width: $small-screen)
		text-align: center
		
		.dotted-before, .dotted-after
			&:after,
			&:before
				margin-left: auto
				margin-right: auto

.footer-contact
	address
		+grid-column(16/3, $collapse:true)
		padding-right: 2em

		&:nth-child(3n + 1)
			clear: both
		&:nth-last-child(-n + 3)
			margin-bottom: 0

		// LT IE9
		&.nth-child-3n1
			clear: both
		&.nth-last-child-n3
			margin-bottom: 0

		@media only screen and (max-width: $medium-screen)
			+grid-column(8, $collapse:true)
			padding-right: 2em
			&:nth-child(3n + 1)
				clear: none
			&:nth-last-child(-n + 3)
				margin-bottom: $paragraph-margin-bottom * 2
			&:nth-last-child(-n + 2)
				margin-bottom: 0
			&:nth-child(2n + 1)
				clear: both

		.button-text
			font-size: +em-calc(11)

	@media only screen and (max-width: $small-screen)
		display: none


.footer-logos
	padding-top: $column-gutter * 2
	text-align: center

	h4
		display: inline-block
		font-size: +em-calc(14)
		margin-right: 1em
	a
		display: inline-block
		margin-left: 1em
		width: 60px
		height: 60px
		&:hover
			+opacity(0.5)

	@media only screen and (max-width: $small-screen)
		display: none


.footer-social
	+inline-list
	margin: 4em 0 2em 0
	> li
		float: none
		margin-left: 1em
		display: inline-block

		&:first-child
			margin-left: 0
	a
		color: #fff
		font-size: 2.5em
		text-decoration: none
		&:hover
			+opacity(0.5)

.footer-all-accounts
	p
		margin-top: 1em
		.i-more-white
			margin: 0 0.75em -0.7em 0
			&:hover
				+opacity(0.5)

	@media only screen and (max-width: $small-screen)
		display: none



// Guides
// -------------------------------------------------------------------------------
.guides
	position: fixed
	top: 0
	left: 50%
	height: 100%
	+transform(translate3d(-50%, 0, 0))
	z-index: 9999
	pointer-events: none
	visibility: hidden
	
	&.visible
		visibility: visible

	.columns
		height: 100%
		&:nth-child(odd)
			background: rgba(pink, 0.25)
		&:nth-child(even)
			background: rgba(green, 0.15)


// Rows
// -------------------------------------------------------------------------------
.row.gutter
	.columns:first-child
		margin-left: - $column-gutter / 2

	@media only screen and (max-width: $small-screen)
		.columns
			margin: 0 !important
			padding-left: 0
			padding-right: 0

// .row
// 	margin-left: -($column-gutter/2)
// 	margin-right: -($column-gutter/2)





// Drupal shit
// .region
// 	border: 2px red solid
// 	&:before
// 		background-color: red
// 		content: "region"

// .block
// 	border: 1px orange solid
// 	margin: 10px
// 	&:before
// 		background-color: orange
// 		content: "block"


// .node
// 	border: 1px green solid
// 	margin: 10px
// 	&:before
// 		background-color: green
// 		content: "node"

// .field
// 	border: 1px blue solid
// 	margin: 10px
// 	&:before
// 		background-color: blue
// 		content: "field"


// .region, .block, .node, .field
// 	position: relative
// 	&:before
// 		color: #fff
// 		font-size: 9px
// 		padding: 0 2px
// 		position: absolute
// 		top: -10px
// 		left: 0