// Links
// -------------------------------------------------------------------------------
a
	+transition(all 0.3s ease)

	&[href^=tel]
		color: inherit
		text-decoration: none


// Heading
// -------------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6
	letter-spacing: 0.075em
	&:first-child
		margin-top: 0!important
		padding-top: 0!important
	a
		color: inherit
		text-decoration: none

h1:first-child
	margin-top: -0.075em!important

h2
	color: #000026
	margin-top: 2.5em

.h2-5
	font-size: em-calc(28)

h3
	color: #414042
	font-family: $body-font-family
	text-transform: uppercase
	font-weight: bold!important
	line-height: em-calc(18)

h4, h5, h6
	line-height: em-calc(16, 13) !important
	margin-bottom: 0.6em !important


@media only screen and (max-width: $small-screen)
	h1,h2,h3,h4,h5,h6
		line-height: $header-line-height
	h1
		font-size: $h1-font-size
	h2
		font-size: $h2-font-size
	h3
		font-size: $h3-font-size
	h4
		font-size: $h4-font-size


// Other Styles
// -------------------------------------------------------------------------------
.dotted-before:before,
.dotted-after:after
	background-position: top left
	background-repeat: repeat-x
	content: ""
	display: block
	width: 40px
	height: 2px

.dotted-before:before
	margin-bottom: 0.5em

.dotted-after:after
	margin-top: 0.5em

h1
	&.dotted-after:after
		margin-top: 0.5em
h2, h3, h4, h5, h6
	&.dotted-after:after
		margin-top: 1em


// Different colors
@each $color in $colors
	.dotted-#{nth($color, 1)}:before,
	.dotted-#{nth($color, 1)}:after
		background-image: url(../img/dot_#{nth($color, 1)}.svg)
	
// Centered Titles
.h-center
	text-align: center
	&:after,
	&:before
		margin: 0 auto


// Title Prefix
.title-prefix
	font-family: $header-font-family
	text-transform: uppercase


// Intro text - Big catchy sentence
.text-intro
	color: $color0
	font-family: $header-font-family
	font-size: em-calc(24)
	font-weight: normal
	line-height: em-calc(36, 24)
	margin-bottom: $column-width



// Other Sizes
// -------------------------------------------------------------------------------
.subheader
	text-transform: uppercase

h1.subheader
	font-size: em-calc(25)
h2.subheader
	font-size: em-calc(18)
// h3.subheader
// 	font-size: em-calc(11)
// h4.subheader
// 	font-size: em-calc(10)
// h5.subheader
// 	font-size: em-calc(9)
// h6.subheader
// 	font-size: em-calc(9)


// Colors
// -------------------------------------------------------------------------------
@each $color in $colors
	.#{nth($color, 1)}
		color: nth($color, 2)
	
	a.#{nth($color, 1)}:hover
		color: nth($color, 3)