// Horizontal Rule
// -------------------------------------------------------------------------------
hr
	margin: $column-width 0


// Random
// -------------------------------------------------------------------------------
blockquote
	font-style: italic
	padding-top: $paragraph-margin-bottom
	padding-bottom: $paragraph-margin-bottom
	cite
		margin-top: 0.5em
	
	// Large
	&.large-quote
		border-top: 2px $primary-color solid
		border-bottom: 2px $primary-color solid
		font-style: normal
		overflow: hidden
		padding: $paragraph-margin-bottom * 2 0
		margin-bottom: $paragraph-margin-bottom * 2

		.quote-content
			float: left
			width: 70%
			
		.quote-content p,
		> p
			color: $color1
			font-size: em-calc(24)
			font-family: $header-font-family
			font-weight: bold
			
		.quote-author
			float: right
			width: 25%
			img
				border-color: $color7
				margin-bottom: 1em
				width: 100%
				height: auto
			h3
				margin-bottom: 0.5em
			p
				color: $body-font-color

		p:last-of-type
			margin: 0


		@media only screen and (max-width: $small-screen)
			.quote-content
				width: 60%
			
			.quote-content p,
			> p
				font-size: em-calc(14)

			.quote-author
				width: 35%

address
	font-style: normal
	margin-bottom: $paragraph-margin-bottom * 2


// Tables
// -------------------------------------------------------------------------------
table
	border-collapse: collapse!important
	border: 1px transparent solid!important
	width: 100%!important
	td,
	th
		border-left: 1px #E2DDDB solid
		padding-left: 1.53846em !important
		text-align: left
		vertical-align: top
		&:first-child
			border-left: 0
	th
		background-color: $color5
		border-bottom: 1px lighten($table-head-font-color, 45%) solid
		color: #fff!important
		padding-top: 0.85em!important
		padding-bottom: 0.85em !important		
		text-transform: uppercase

	td
		border-top: 1px #E2DDDB solid
		padding-top: 0.75em!important
		padding-bottom: 0.85em!important
	
	td:last-child
		padding-right: 0

	tr:first-child td
		border-top: 0
		padding-top: 0.75em


// Lists
// -------------------------------------------------------------------------------
ol li ol,
ol li ul,
ul li ul,
ul li ol
	margin-top: 1em
	margin-bottom: 1em !important