.f-dropdown.content
	top: -99999px

// Forms
// -------------------------------------------------------------------------------
input,
select,
textarea
	text-transform: uppercase
	font-weight: bold


::-webkit-input-placeholder
	color: #414042
::-moz-placeholder
	color: #414042
::-moz-placeholder
	color: #414042
::-ms-input-placeholder
	color: #414042

.prefix,
.postfix
	font-weight: bold
	height: 4.8em
	line-height: 4.8em
	text-transform: uppercase


// Fieldset
fieldset
	margin-left: - $column-gutter / 2
	margin-top: $column-gutter * 1.5

// Legend
legend
	@extend h3
	margin: 0 0 1em $column-gutter / 2!important
	padding: 0!important

// Custom Select
.custom.dropdown
	ul
		background-color: $color2 !important
		border-top: 4px $color1 solid !important

	ul, .current
		font-weight: bold
		line-height: $custom-select-height - em-calc(6) !important
		text-transform: uppercase

	li
		border-top: 2px darken($custom-dropdown-color-selected, 4%) solid

	li:first-child
		border-top: 0

	li.selected
		background-color: darken($custom-dropdown-color-selected, 4%) !important

	.selector
		margin-top: -4px
		margin-right: -4px
		width: $custom-select-height !important
		&:after
			background: url(../images/arrow_down_lightgrey.svg) 0 0 no-repeat
			+background-size(contain)
			width: 16px !important
			height: 10px !important
			border: 0 !important
			left: 50% !important
			top: 50%
			margin: -4px 0 0 -8px !important


// Custom Checkbox and Radio Inputs
.radio,
.checkbox
	cursor: pointer
	margin-right: 0.5em
	&.disabled
		cursor: not-allowed

.radio-label,
.checkbox-label
	color: #414042
	font-weight: bold
	text-transform: uppercase

.custom.checkbox.checked
	&:before
		background-color: $color2
		content: ""
		font-size: 1px
		line-height: 8px
		width: 12px
		height: 12px
		margin-top: 14px!important
		margin-left: -6px!important

// Custom f-dropdown
ul.f-dropdown.content
	border: 0
	overflow: hidden
	padding: 0
	min-width: 230px
	z-index: 101

	&.round
		+border-radius(em-calc(25, 13))

	li
		border-top: 2px darken($custom-dropdown-color-selected, 4%) solid
		font-size: em-calc(13)
		padding: 0 em-calc(25, 13)
		&:first-child
			border-top: 0
		a
			text-decoration: none
			padding-top: 1em
			padding-bottom: 1em