// Browser Resets
.flexslider	a
	outline: none!important

.flex-control-nav,
.flex-direction-nav
	&, > li
		margin: 0
		padding: 0
		list-style: none

// FlexSlider Necessary Styles
.flexslider
	overflow: hidden
	position: relative
	+transform(translate3d(0, 0, 0))
	zoom: 1
	+transition(none!important)

	// Hide the slides before the JS is loaded. Avoids image jumping
	.slides
		&, > li
			margin: 0
			padding: 0
			list-style: none
		> li
			display: none
			-webkit-backface-visibility: hidden


// Clearfix for the .flex-slides element
.flex-slides
	+clearfix
	zoom: 1

	html[xmlns] &
		display: block

	* html &
		height: 1%


// FlexSlider Default Theme
.flex-viewport
	max-height: 2000px
	-webkit-transition: all 1s ease
	-moz-transition: all 1s ease
	-o-transition: all 1s ease
	transition: all 1s ease

// Direction Nav
.flex-direction-nav
	position: absolute
	top: 2.2em
	left: 0
	z-index: 99
	width: 100%
	li
		padding: 0

		&:first-child
			float: left
			padding-left: $column-gutter * 2
		&:last-child
			float: right
			padding-right: $column-gutter * 2

.flex-prev
	@extend .i-arrow-left-white
.flex-next
	@extend .i-arrow-right-white


// Control Nav
.flex-control-nav
	position: absolute
	top: 0
	left: 0
	z-index: 999
	margin: 0!important
	text-align: center
	width: 100%
	li
		margin: 8px
		display: inline-block
		position: relative
		-webkit-perspective: 1000px
		perspective: 1000px
		width: 16px
		height: 16px

		a
			background-color: transparent
			+border-radius(16px)
			cursor: pointer
			display: block
			width: 16px
			height: 16px
			text-indent: -9999px
			+transition(all 0.3s ease)
			position: absolute
			top: 0
			left: 0
			
			+transform(translate3d(0,0,0))
			-webkit-transform-style: preserve-3d
			transform-style: preserve-3d
			
			&:before,
			&:after
				display: block
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				+border-radius(100%)
				background-color: rgba(#fff, 0.6)
				content: ""
				text-indent: 0
				-webkit-backface-visibility: hidden
				backface-visibility: hidden

			&:after
				+transform(rotateY(180deg))

			&.flex-active
				background-color: #fff
				+transform(rotateY(180deg))

				.no-csstransforms3d &:after,
				.no-csstransforms3d &:before
					display: none


// Control Nav - Light Blue
.flexslider-controls-color2
	.flex-control-nav li a
		&:before,
		&.flex-active
			background-color: rgba($color2, 0.6)
		&:after
			background-color: $color2