// Shell
// -------------------------------------------------------------------------------
html
	font-size: 100%

body
	line-height: $base-line-height
	letter-spacing: 0.05em
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	font-weight: 500

	.no-mediaqueries &
		min-width: $row-width


// Nav & COBA Header
// -------------------------------------------------------------------------------
.title-main
	background-color: #fff
	border-bottom: 1px $color1 solid
	color: #000
	text-transform: uppercase
	font-size: em-calc(21)
	line-height: 1em
	padding: 1.25em 0 1.15em 0
	margin: 0
	position: relative
	text-align: center
	z-index: 99

.top
	+box-shadow(0 5px 15px -5px rgba(#000, 0.2))
	.no-boxshadow &
		border-bottom: 1px $color1 solid


// .expanded,
.expanded .top-bar-section,
.expanded .top-search
	display: none

.expanded-alone
	height: auto!important
	.top-bar-section
		display: block!important
		background: transparent!important
		height: auto!important

	.top-search
		display: block!important

.top-search
	height: $topbar-height

	.button-search
		display: block
		font-size: +em-calc(18px)
		height: $topbar-height
		outline: none
		padding: 0 $topbar-height / 3
		position: relative
		text-decoration: none
		z-index: 99
		+box-shadow(inset 0 0 $color3)

	.block-search
		+box-shadow(1000px 0px 0px 0px $color3, -1000px 0px 0px 0px $color3)
					
		input
			background-color: transparent
			border: 0
			color: #fff
			+transition(none)
			text-transform: none
			font-weight: normal
			letter-spacing: 0.05em
			font-size: em-calc(25)
			padding: 0
			text-transform: uppercase

		.form-submit
			display: none

		::-webkit-input-placeholder
			color: #b2c3dc
		::-moz-placeholder
			color: #b2c3dc
		::-moz-placeholder
			color: #b2c3dcx
		::-ms-input-placeholder
			color: #b2c3dc

	.expanded-alone &
		background-color: $color3
		border: 0
		position: relative

		.button-search
			color: #fff
			float: left
			i
				background-image: url(../images/i_magnifier_white.svg)

		.block-search
			position: relative
			border-left: 1px #b2c3dc solid
			border-right: 0
			float: left
			overflow: hidden
			width: 80%
			margin-top: 0.7em


.top-bar-section
	+box-shadow(1000px 0px 0px 0px #fff, -1000px 0px 0px 0px #fff)
	font-family: $header-font-family
	z-index: 99

	ul
		margin: 0
		li
			float: left
			height: $topbar-height
			border-right: 1px $color1 solid
			&:first-child
				border-left: 1px $color1 solid
			& a
				display: table
				line-height: em-calc(16, 12) !important
				padding: 0 em-calc(25, 12) !important
				text-decoration: none
				width: 100%
				height: 100%
				span
					display: table-cell
					vertical-align: middle
					text-align: center

		li.has-dropdown > a:after
			background: url(../images/arrow_right_white.svg) 0 0 no-repeat
			+background-size(contain)
			border: 0
			margin-top: -0.5em
			width: 0.625em !important
			height: 1em !important
			right: 0

	a.active
		background-color: $color1 !important
		color: #fff

	.expanded-alone &
		ul
			margin-bottom: 0!important
			li
				display: block
				float: none
				font-size: +em-calc(16px)
				line-height: +em-calc(17px)
				height: auto
				border: 0px
				border-bottom: 1px $color3 solid
				& > a
					color: #fff
					display: block
					font-size: 1em
					padding: 0.8em 1em!important
					text-align: left
					&:hover
						background-color: $color3

			li.title
				font-size: +em-calc(16px)
				line-height: +em-calc(17px)
				h5
					font-size: 1em
					margin: 0!important
					a
						background: #fff url(../images/arrow_left_color2.svg) 1em 50% no-repeat
						color: $color2
						padding: 0.8em 2em!important
						text-align: left
						&:hover
							background-color: $color1
							background-image: url(../images/arrow_left_white.svg)
							color: #fff

			li.divider
				border-bottom-color: $color3

		.dropdown li
			border-bottom: 1px $color3 solid


.top-bar
	.name
		display: table-cell
		font-family: $header-font-family
		font-size: em-calc(16)
		line-height: em-calc(17, 16)
		text-transform: uppercase
		padding: 0 70px 0 20px
		vertical-align: middle
		a
			color: #000
			text-decoration: none

	.toggle-topbar.menu-icon
		#{$opposite-direction}: 20px
		margin-top: -19px
		a
			font-size: em-calc(10)
			text-indent: -1px
			width: 30px
			height: 34px
			line-height: 1em

			span
				width: 30px
				height: 0
				+box-shadow(0px 15px 0 2px $topbar-menu-icon-color, 0 23px 0 2px $topbar-menu-icon-color, 0 31px 0 2px $topbar-menu-icon-color)


// Below full width
@media only screen and (max-width: 1130px)
	.top-search
		.block-search
			input
				padding: 0 10px



// Top Bar styles intended for screen sizes below the breakpoint.
@media #{$topbar-media-query-max}
	.top-bar,
	.top-bar .name
		height: 65px

	.title-main
		display: none

	.top-search
		.block-search
			input
				font-size: em-calc(13)
				text-transform: none


// Top Bar style between iPads Portrait and iPads Landscape
@media only screen and (min-width: $topbar-breakpoint) and (max-width: $medium-screen)
	.top-bar-section
		background-color: #fff
		> ul
			> li a,
			> li.has-dropdown a
				padding-left: 10%!important
				padding-right: 10%!important
			> li:first-child
				border-left: 0
			> li:last-child
				float: none
				overflow: hidden
				width: auto

	.top-search
		.button-search
			border-right: 0!important
			i
				width: 100%


// Top Bar styles intended for screen sizes above the breakpoint.
=top
	.top
		+box-shadow(0 5px 15px -5px rgba(#000, 0.2), 0 -1px 0 0 #ededed)

	.top-bar .name
		display: none

	.top-search
		width: 7%
		float: right
		z-index: 99

		.button-search
			background-color: #fff
			border-right: 1px $color1 solid
			+transition(box-shadow 0.1s 0.1s linear, background-color 0.3s ease, color 0.3s ease)
			&.active
				+transition(box-shadow 0.1s 0s linear)

	.button-search
		text-align: center
		&:hover
			background-color: $color1
			i
				background-image: url(../images/i_magnifier_white.svg)

		&.active
			+box-shadow(inset 0 $topbar-height $color3)
			i
				background-image: url(../images/i_magnifier_white.svg)


	.block-search
		background-color: $color3
		height: 77px
		padding: 0.9em 0
		position: absolute
		top: $topbar-height - 1
		right: 0
		+transform(translate3d(0, -100%, 0))
		+transition(all 0.1s 0s linear)
		width: 100%
		z-index: 88

		&.active
			+transform(translate3d(0, 0, 0))
			+transition(all 0.1s 0.1s linear)

		.no-csstransforms3d &
			top: - $topbar-height
		.no-csstransforms3d &.active
			top: $topbar-height

		input
			top: 0

	.top-bar-section
		background-color: #fff
		+clearfix
		width: 93%
		z-index: 88
		
		> ul
			> li
				width: (100% / 7)

		a.active
			background-color: $color2 !important

		li.has-dropdown
			> a
				padding: 0 em-calc(25, 12) !important
			> a:after
				display: none

			.dropdown
				border-left: 1px $color1 solid
				font-family: $body-font-family
				margin-left: -1px
				width: 17em
				li
					border: 0
					float: none
					a
						padding: 0.5em 1.5em!important
						white-space: normal
						&.active,
						&:hover
							background-color: $color4 !important
					&:nth-child(2) a
						padding-top: 1em!important
					&:last-child a
						padding-bottom: 1em!important

	.mobile-nav
		display: none!important



@media #{$topbar-media-query}
	+top


// Side Nav
// -------------------------------------------------------------------------------
.side-nav
	li
		line-height: +em-calc(18px)
		padding-top: +em-calc(16px)

		&:first-child
			padding-top: 0
	
		a
			text-decoration: none
			display: inline-block
		
			&.active, &:hover
				color: #000026



// Footer
// -------------------------------------------------------------------------------
#coba-footer
	background-color: $color5
	color: #fff
	padding-top: $column-gutter * 2
	padding-bottom: $column-gutter * 2

	h4 a:hover
		color: #426da9!important

	@media only screen and (max-width: $small-screen)
		text-align: center
		
		.dotted-before, .dotted-after
			&:after,
			&:before
				margin-left: auto
				margin-right: auto



.footer-contact
	address
		+grid-column(16/3, $collapse:true)
		padding-right: 2em

		&:nth-child(3n + 1)
			clear: both
		&:nth-last-child(-n + 3)
			margin-bottom: 0

		// LT IE9
		&.nth-child-3n1
			clear: both
		&.nth-last-child-n3
			margin-bottom: 0

		@media only screen and (max-width: $medium-screen)
			+grid-column(8, $collapse:true)
			padding-right: 2em
			&:nth-child(3n + 1)
				clear: none
			&:nth-last-child(-n + 3)
				margin-bottom: $paragraph-margin-bottom * 2
			&:nth-last-child(-n + 2)
				margin-bottom: 0
			&:nth-child(2n + 1)
				clear: both

		.button-text
			font-size: +em-calc(11)

	@media only screen and (max-width: $small-screen)
		display: none


.footer-logos
	padding-top: $column-gutter * 2
	text-align: center

	h4
		display: inline-block
		font-size: +em-calc(14)
		margin-right: 1em
	a
		display: inline-block
		margin-left: 1em
		width: 60px
		height: 60px
		&:hover
			+opacity(0.5)

	@media only screen and (max-width: $small-screen)
		display: none


.footer-social
	+inline-list
	margin: 4em 0 2em 0
	> li
		float: none
		margin-left: 1em
		display: inline-block

		&:first-child
			margin-left: 0
	a
		color: #fff
		font-size: 2.5em
		text-decoration: none
		&:hover
			+opacity(0.5)

.footer-all-accounts
	p
		margin-top: 1em
		a
			display: block
			&:hover i
				+opacity(0.5)

		.i-more-white
			margin: 0 0.75em -0.7em 0
				

	@media only screen and (max-width: $small-screen)
		display: none



// Guides
// -------------------------------------------------------------------------------
.guides
	position: fixed
	top: 0
	left: 50%
	height: 100%
	+transform(translate3d(-50%, 0, 0))
	z-index: 9999
	pointer-events: none
	visibility: hidden
	
	&.visible
		visibility: visible

	.columns
		height: 100%
		&:nth-child(odd)
			background: rgba(pink, 0.25)
		&:nth-child(even)
			background: rgba(green, 0.15)


// Rows
// -------------------------------------------------------------------------------
.row.gutter
	.columns:first-child
		margin-left: - $column-gutter / 2

	@media only screen and (max-width: $small-screen)
		.columns
			margin: 0 !important
			padding-left: 0
			padding-right: 0


// Drupal shit
html.overlay-open
	#overlay-disable-message
		display: none!important

// .region
// 	border: 2px red solid
// 	// &:before
// 	// 	background-color: red
// 	// 	content: "region"

// .block
// 	border: 2px orange solid
// 	// margin: 10px
// 	// &:before
// 	// 	background-color: orange
// 	// 	content: "block"


// .node
// 	border: 2px green solid
// 	// margin: 10px
// 	// &:before
// 	// 	background-color: green
// 	// 	content: "node"

// .field
// 	border: 2px blue solid
// 	// margin: 10px
// 	// &:before
// 	// 	background-color: blue
// 	// 	content: "field"


// .region, .block, .node, .field
// 	position: relative
// 	&:before
// 		color: #fff
// 		font-size: 9px
// 		padding: 0 2px
// 		position: absolute
// 		top: -10px
// 		left: 0



// Other
// -------------------------------------------------------------------------------
.loading
	display: none
	width: 70px
	text-align: center

	> span
		width: 15px
		height: 15px
		background-color: $color3
		border-radius: 100%
		display: inline-block
		-webkit-animation: bouncedelay 1.4s infinite ease-in-out
		animation: bouncedelay 1.4s infinite ease-in-out
		-webkit-animation-fill-mode: both
		animation-fill-mode: both

	.loading1
		-webkit-animation-delay: -0.32s
		animation-delay: -0.32s

	.loading2
		-webkit-animation-delay: -0.16s
		animation-delay: -0.16s


@-webkit-keyframes bouncedelay
	0%, 80%, 100%
		-webkit-transform: scale(0.0) 
	40%
		-webkit-transform: scale(1.0) 


@keyframes bouncedelay
	0%, 80%, 100%
		transform: scale(0.0)
		-webkit-transform: scale(0.0)
	40%
		transform: scale(1.0)
		-webkit-transform: scale(1.0)