// Foundation Variables


// The default font-size is set to 100% of the browser style sheet (usually 16px)
// for compatibility with browser-based text zoom or user-set defaults.
$base-font-size: 81.25% !default;

// $base-line-height is 24px while $base-font-size is 16px
$base-line-height: 150%;


// This is the default html and body font-size for the base em value.

// Since the typical default browser font-size is 16px, that makes the calculation for grid size.
// If you want your base font-size to be a different size and not have it effect grid size too,
// set the value of $em-base to $base-font-size ($em-base: $base-font-size;)
$em-base: 13px !default;




// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts "px" to "em" using the ($)em-base
@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

// Working in ems is annoying. Think in pixels by using this handy function, em-calc(#)
// Just enter the number, no need to mention "px"
@function em-calc($values, $base-value: $em-base) {
  $max: length($values); // Get the total number of parameters passed

  // If there is only 1 parameter, then return it as an integer.
  // This is done because a list can't be multiplied or divided even if it contains a single value
  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}

//Retaining this for backward compatability

@function emCalc($pxWidth) {
  @return $pxWidth / $em-base * 1em;
}

// Maybe you want to create rems with pixels
// $rem-base: 0.625 !default; //Set the value corresponding to body font size. In this case, you should set as: body {font-size: 62.5%;}
// @function rem-calc($pxWidth) {
//   @return $pxWidth / $rem-base * 1rem;
// }


// Grid Function
@function gridCalc($colNumber, $totalColumns) {
  @return percentage(($colNumber / $totalColumns));
}


// Change whether or not you include browser prefixes
$experimental: true;

// Various global styles
$default-float: left;

$body-bg: #fff;
$body-font-color: #808285;
$body-font-family: "tablet-gothic", Helvetica, sans-serif;
// $body-font-weight: normal;
// $body-font-style: normal;

// Font-smoothing
// $font-smoothing: antialiased;

// Text direction settings
// $text-direction: ltr;

// Colors
$primary-color: #CE8A14;
$secondary-color: $body-font-color; // Grey
// $alert-color: #c60f13;
// $success-color: #5da423;

// Kent COBA - Colors
$color0: #c7c2bb;       // Light Light Grey
$color0-hover: #AEA79F; 
$color1: #AEA79F;       // Light Grey
$color1-hover: #918C86; 
$color2: #426DA9;       // Light Blue
$color2-hover: #385B8D; 
$color3: #344a76;       // Medium Blue
$color3-hover: darken(#344a76, 4%); 
$color4: #102263;       // Dark Blue
$color4-hover: #0b0d3c; 
$color5: #002664;        // Darker Blue
$color5-hover: #426DA9;
$color6: #FFF;          // White (duh!)
$color6-hover: #426DA9;
$color7: #eaab00;       // Orange
$color7-hover: #CE8A14;
$color8: #000026;       // Almost Black - Blue
$color8-hover: #000026;


$colors: ("color0", $color0, $color0-hover), ("color1", $color1, $color1-hover), ("color2", $color2, $color2-hover), ("color3", $color3, $color3-hover), ("color4", $color4, $color4-hover), ("color5", $color5, $color5-hover), ("color6", $color6, $color6-hover), ("color7", $color7, $color7-hover), ("color8", $color8, $color8-hover);


// Make sure border radius matches unless we want it different.
$global-radius: 3px;
$global-rounded: 1000px;

// Inset shadow shiny edges and depressions.
$shiny-edge-size: 0 0 0;
$shiny-edge-color: transparent;
$shiny-edge-active-color: transparent;

// Control whether or not CSS classes come through in the CSS files.
// $include-html-classes: true;
// $include-print-styles: true;
// $include-html-global-classes: $include-html-classes;
// $include-html-inline-list-classes: $include-html-classes;
// $include-html-type-classes: $include-html-classes;
// $include-html-grid-classes: $include-html-classes;
// $include-html-visibility-classes: $include-html-classes;
// $include-html-button-classes: $include-html-classes;
// $include-html-form-classes: $include-html-classes;
// $include-html-custom-form-classes: $include-html-classes;
// $include-html-media-classes: $include-html-classes;
// $include-html-section-classes: $include-html-classes;
// $include-html-orbit-classes: $include-html-classes;
// $include-html-reveal-classes: $include-html-classes;
// $include-html-joyride-classes: $include-html-classes;
// $include-html-clearing-classes: $include-html-classes;
// $include-html-alert-classes: $include-html-classes;
// $include-html-nav-classes: $include-html-classes;
// $include-html-top-bar-classes: $include-html-classes;
// $include-html-label-classes: $include-html-classes;
// $include-html-panel-classes: $include-html-classes;
// $include-html-pricing-classes: $include-html-classes;
// $include-html-progress-classes: $include-html-classes;
// $include-html-magellan-classes: $include-html-classes;
// $include-html-tooltip-classes: $include-html-classes;

// Media Queries
$small-screen: 768px;
$medium-screen: 1024px;
// $large-screen: 1440px;

// $screen: "only screen";
// $small: "only screen and (min-width: #{$small-screen})";
// $medium: "only screen and (min-width: #{$medium-screen})";
// $large: "only screen and (min-width: #{$large-screen})";
// $landscape: "only screen and (orientation: landscape)";
// $portrait: "only screen and (orientation: portrait)";


//
// Cursors
// 


//Custom use example -> $cursor-default-value: url(http://cursors-site.net/path/to/custom/cursor/default.cur),progress;
// $cursor-crosshair-value: "crosshair";
// $cursor-default-value: "default";
// $cursor-pointer-value: "pointer";
// $cursor-help-value: "help";


// Grid Variables
$row-width: em-calc(1100);
$column-gutter: em-calc(30);
$total-columns: 16;
$column-width: gridCalc(1, $total-columns);


// Block Grid Variables
// We use this to control the maximum number of block grid elements per row
$block-grid-elements: 16;
$block-grid-default-spacing: em-calc(30);

// Enables media queries for block-grid classes. Set to false if writing semantic HTML.
// $block-grid-media-queries: true;


// Typography Variables
// Control header font styles
$header-font-family: "museo-slab", serif;
$header-font-weight: 500;
$header-font-style: normal;
$header-font-color: #002664;
$header-line-height: 1em;
$header-top-margin: 0.2em;
$header-bottom-margin: 1em;
// $header-text-rendering: optimizeLegibility;


// Control header font sizes
$h1-font-size: em-calc(32);
$h2-font-size: em-calc(23);
$h3-font-size: em-calc(14);
$h4-font-size: em-calc(13);
$h5-font-size: em-calc(12);
$h6-font-size: em-calc(12);


// Control how subheaders are styled.
$subheader-line-height: inherit;
$subheader-font-color: $color2;
$subheader-font-weight: 500;
$subheader-top-margin: $header-top-margin;
$subheader-bottom-margin: $header-bottom-margin;


// A general <small> styling
$small-font-size: 60%;
$small-font-color: $header-font-color;


// Style paragraphs
// $paragraph-font-family: inherit;
// $paragraph-font-weight: normal;
$paragraph-line-height: em-calc(20);
$paragraph-margin-bottom: em-calc(20);
// $paragraph-aside-font-size: em-calc(14);
// $paragraph-aside-line-height: 1.35;
// $paragraph-aside-font-style: italic;
// $paragraph-text-rendering: optimizeLegibility;


// Style <code> tags
$code-color: darken($body-font-color, 25%);
$code-font-family: Consolas, 'Liberation Mono', Courier, monospace;
$code-font-weight: bold;


// Style anchors
$anchor-text-decoration: underline;
$anchor-font-color: $body-font-color;
$anchor-font-color-hover: $color4;


// Style the <hr> element
$hr-border-width: 1px;
$hr-border-style: solid;
$hr-border-color: #e2dddb;
$hr-margin: 0;


// Style lists
$list-style-position: outside;
$list-side-margin: em-calc(18);
$list-nested-margin: em-calc(18);
// $definition-list-header-weight: bold;
// $definition-list-header-margin-bottom: .3em;
// $definition-list-margin-bottom: em-calc(12);


// Style blockquotes
$blockquote-font-color: $color2;
$blockquote-padding:$paragraph-margin-bottom * 2;
$blockquote-border: 0;
$blockquote-cite-font-size: em-calc(10);
$blockquote-cite-font-color: inherit;
$blockquote-cite-link-color: $blockquote-cite-font-color;


// Acronym styles
// $acronym-underline: 1px dotted #ddd;


// Control Microformats
// $microformat-padding: em-calc(10 12);
// $microformat-margin: em-calc(0 0 20 0);
// $microformat-border-width: 1px;
// $microformat-border-style: solid;
// $microformat-border-color: #ddd;
// $microformat-fullname-font-weight: bold;
// $microformat-fullname-font-size: em-calc(15);
// $microformat-summary-font-weight: bold;
// $microformat-abbr-padding: em-calc(0 1);
// $microformat-abbr-font-weight: bold;
// $microformat-abbr-font-decoration: none;



//
// Form Variables
//


// We use this to set the base for lots of form spacing and positioning styles
$form-spacing: 2.3em;


// We use these to style the labels in different ways
$form-label-pointer: default;
$form-label-font-size: 1em;
// $form-label-font-weight: 500;
$form-label-font-color: $body-font-color;
$form-label-bottom-margin: em-calc(10);
// $input-font-family: inherit;
$input-font-color: $color1;
$input-font-size: em-calc(14);
$input-bg-color: #fff;
$input-focus-bg-color: #fff;
$input-border-color: $color1;
$input-focus-border-color: $color1;
// $input-border-style: solid;
$input-border-width: 4px;
// $input-disabled-bg: #ddd;
$input-box-shadow: none;
$input-include-glowing-effect: false;


// We use these to style the fieldset border and spacing.
// $fieldset-border-style: solid;
$fieldset-border-width: 0;
// $fieldset-border-color: #ddd;
$fieldset-padding: 0;
$fieldset-margin: 0;


// We use these to style the legends when you use them
$legend-bg: transparent;
// $legend-font-weight: bold;
// $legend-padding: em-calc(0 3);


// We use these to style the prefix and postfix input elements
$input-prefix-bg: $color1;
// $input-prefix-border-color: darken(#fff, 20%);
$input-prefix-border-size: 0px;
// $input-prefix-border-type: solid;
// $input-prefix-overflow: hidden;
$input-prefix-font-color: #fff;
// $input-prefix-font-color-alt: #fff;


// We use these to style the error states for inputs and labels
// $input-error-message-padding: em-calc(6 4);
// $input-error-message-top: 0;
// $input-error-message-font-size: em-calc(12);
// $input-error-message-font-weight: bold;
// $input-error-message-font-color: #fff;
// $input-error-message-font-color-alt: #333;


// We use this to style the glowing effect of inputs when focused
// $glowing-effect-fade-time: 0.45s;
// $glowing-effect-color: $input-focus-border-color;




//
// Button Variables
//


// We use these to build padding for buttons.
$button-lrg: em-calc(22);
$button-med: em-calc(17);
$button-sml: em-calc(12);
$button-tny: 0.55em;


// We use this to control the display property.
// $button-display: inline-block;
$button-margin-bottom: 0; //em-calc(20);


// We use these to control button text styles.
$button-font-family: $header-font-family;
// $button-font-color: #fff;
// $button-font-color-alt: #333;
$button-font-lrg: em-calc(15);
$button-font-med: em-calc(13);
$button-font-sml: em-calc(13);
$button-font-tny: em-calc(13);
$button-font-weight: normal;
$button-font-align: center;


// We use these to control various hover effects.
// $button-function-factor: 10%;


// We use these to control button border styles.
$button-border-width: 0;
$button-border-style: solid;


// We use this to set the default radius used throughout the core.
// $button-radius: $global-radius;
// $button-round: $global-rounded;


// We use this to set default opacity for disabled buttons.
$button-disabled-opacity: 0.2;





//
// Button Groups
//


// Sets the margin for the right side by default, and the left margin if right-to-left direction is used
// $button-bar-margin-opposite: em-calc(10);





//
// Dropdown Button Variables
//


// We use these to set the color of the pip in dropdown buttons
// $dropdown-button-pip-color: #fff;
// $dropdown-button-pip-color-alt: #333;

// We use these to style tiny dropdown buttons
// $dropdown-button-padding-tny: $button-tny * 5;
// $dropdown-button-pip-size-tny: $button-tny;
// $dropdown-button-pip-opposite-tny: $button-tny * 2;
// $dropdown-button-pip-top-tny: -$button-tny / 2 + em-calc(1);

// We use these to style small dropdown buttons
// $dropdown-button-padding-sml: $button-sml * 5;
// $dropdown-button-pip-size-sml: $button-sml;
// $dropdown-button-pip-opposite-sml: $button-sml * 2;
// $dropdown-button-pip-top-sml: -$button-sml / 2 + em-calc(1);

// We use these to style medium dropdown buttons
// $dropdown-button-padding-med: $button-med * 4 + em-calc(3);
// $dropdown-button-pip-size-med: $button-med - em-calc(3);
// $dropdown-button-pip-opposite-med: $button-med * 2;
// $dropdown-button-pip-top-med: -$button-med / 2 + em-calc(2);

// We use these to style large dropdown buttons
// $dropdown-button-padding-lrg: $button-lrg * 4;
// $dropdown-button-pip-size-lrg: $button-lrg - em-calc(6);
// $dropdown-button-pip-opposite-lrg: $button-lrg + em-calc(12);
// $dropdown-button-pip-top-lrg: -$button-lrg / 2 + em-calc(3);




//
// Split Button Variables
//

// We use these to control different shared styles for Split Buttons
// $split-button-function-factor: 15%;
// $split-button-pip-color: #fff;
// $split-button-pip-color-alt: #333;
// $split-button-active-bg-tint: rgba(0,0,0,0.1);


// We use these to control tiny split buttons
// $split-button-padding-tny: $button-tny * 9;
// $split-button-span-width-tny: $button-tny * 6.5;
// $split-button-pip-size-tny: $button-tny;
// $split-button-pip-top-tny: $button-tny * 2;
// $split-button-pip-default-float-tny: em-calc(-5);


// We use these to control small split buttons
// $split-button-padding-sml: $button-sml * 7;
// $split-button-span-width-sml: $button-sml * 5;
// $split-button-pip-size-sml: $button-sml;
// $split-button-pip-top-sml: $button-sml * 1.5;
// $split-button-pip-default-float-sml: em-calc(-9);


// We use these to control medium split buttons
// $split-button-padding-med: $button-med * 6.4;
// $split-button-span-width-med: $button-med * 4;
// $split-button-pip-size-med: $button-med - em-calc(3);
// $split-button-pip-top-med: $button-med * 1.5;
// $split-button-pip-default-float-med: em-calc(-9);


// We use these to control large split buttons
// $split-button-padding-lrg: $button-lrg * 6;
// $split-button-span-width-lrg: $button-lrg * 3.75;
// $split-button-pip-size-lrg: $button-lrg - em-calc(6);
// $split-button-pip-top-lrg: $button-lrg + em-calc(5);
// $split-button-pip-default-float-lrg: em-calc(-9);





//
// Alert Box Variables
//


// We use this to control alert padding.
// $alert-padding-top: em-calc(11);
// $alert-padding-default-float: $alert-padding-top;
// $alert-padding-opposite-direction: $alert-padding-top + em-calc(10);
// $alert-padding-bottom: $alert-padding-top + em-calc(1);


// We use these to control text style.
$alert-font-weight: normal;
$alert-font-size: 1em;
// $alert-font-color: #fff;
// $alert-font-color-alt: darken($secondary-color, 60%);

// We use this for close hover effect.
// $alert-function-factor: 10%;


// We use these to control border styles.
$alert-border-style: solid;
$alert-border-width: 0;
// $alert-border-color: darken($primary-color, $alert-function-factor);
// $alert-bottom-margin: em-calc(20);


// We use these to style the close 
// 
// $alert-close-color: #333;
// $alert-close-position: em-calc(5);
// $alert-close-font-size: em-calc(22);
// $alert-close-opacity: 0.3;
// $alert-close-opacity-hover: 0.5;
// $alert-close-padding: 5px 4px 4px;


// We use this to control border radius
// $alert-radius: $global-radius;





//
// Breadcrumb Variables
//

// We use this to set the background color for the breadcrumb container.
$crumb-bg: transparent;

// We use these to set the padding around the breadcrumbs.

$crumb-padding: 0;
$crumb-side-padding: em-calc(10);

// We use these to control border styles.

// $crumb-function-factor: 10%;
$crumb-border-size: 0;
$crumb-border-style: solid;
$crumb-border-color: none;
$crumb-radius: $global-radius;


// We use these to set various text styles for breadcrumbs.
$crumb-font-size: 1em;
// $crumb-font-color: $primary-color;
// $crumb-font-color-current: #333;
// $crumb-font-color-unavailable: #999;
// $crumb-font-transform: uppercase;
// $crumb-link-decor: underline;

// We use these to control the slash between breadcrumbs

$crumb-slash-color: $body-font-color;
// $crumb-slash: "/";





//
// Clearing Variables
//

// We use these to set the background colors for parts of Clearing.

// $clearing-bg: #111;
// $clearing-caption-bg: $clearing-bg;
// $clearing-carousel-bg: #111;
// $clearing-img-bg: $clearing-bg;

// We use these to style the close button

// $clearing-close-color: #fff;
// $clearing-close-size: 40px;

// We use these to style the arrows

// $clearing-arrow-size: 16px;
// $clearing-arrow-color: $clearing-close-color;

// We use these to style captions

// $clearing-caption-font-color: #fff;
// $clearing-caption-padding: 10px 30px;

// We use these to make the image and carousel height and style

// $clearing-active-img-height: 75%;
// $clearing-carousel-height: 150px;
// $clearing-carousel-thumb-width: 175px;
// $clearing-carousel-thumb-active-border: 4px solid rgb(255,255,255);




//
// Custom Form Variables
//

// We use these to control the basic form styles input styles
$custom-form-border-color: $color1;
$custom-form-border-size: 4px;
$custom-form-bg: transparent;
$custom-form-bg-disabled: lighten($color1, 10%);
$custom-form-input-size: 28px;
$custom-form-check-color: $color2;
$custom-form-check-size: 28px;
$custom-form-radio-size: 12px;
$custom-form-checkbox-radius: 0;


// We use these to style the custom select form element.
$custom-select-bg: #fff;
$custom-select-fade-to-color: #fff;
// $custom-select-border-color: #ddd;
// $custom-select-triangle-color: #aaa;
// $custom-select-triangle-color-open: #222;
$custom-select-height: em-calc(13) + ($form-spacing * 1.5);
// $custom-select-margin-bottom: em-calc(20);
// $custom-select-font-color-selected: #141414;
$custom-select-disabled-color: #414042;


// We use these to control the style of the custom select dropdown element.
// $custom-dropdown-height: 200px;
// $custom-dropdown-bg: #fff;
$custom-dropdown-border-color: $color2;
$custom-dropdown-border-width: 4px;
// $custom-dropdown-border-style: solid;
$custom-dropdown-font-color: #fff;
$custom-dropdown-font-size: em-calc(14);
$custom-dropdown-color-selected: $color2;
$custom-dropdown-font-color-selected: #fff;
$custom-dropdown-shadow: none;
$custom-dropdown-offset-top: auto;
$custom-dropdown-list-padding: $form-spacing / 3;
$custom-dropdown-default-float-padding: $form-spacing / 2;
$custom-dropdown-opposite-padding: $form-spacing / 2;
// $custom-dropdown-list-item-min-height: em-calc(24);
// $custom-dropdown-width-small: 134px;
// $custom-dropdown-width-medium: 254px;
// $custom-dropdown-width-large: 434px;





//
// Dropdown Variables
//

// We use these to controls height and width styles.
$f-dropdown-max-width: 400px;
// $f-dropdown-height: auto;
// $f-dropdown-max-height: none;
$f-dropdown-margin-top: 0;

// We use this to control the background color
$f-dropdown-bg: $color2;

// We use this to set the border styles for dropdowns.
// $f-dropdown-border-style: solid;
$f-dropdown-border-width: 0;
$f-dropdown-border-color: $color2;

// We use these to style the triangle pip.
$f-dropdown-triangle-size: 0px;
$f-dropdown-triangle-color: $color1;
// $f-dropdown-triangle-side-offset: 10px;

// We use these to control styles for the list elements.
// $f-dropdown-list-style: none;
$f-dropdown-font-color: #fff;
// $f-dropdown-font-size: em-calc(14);
$f-dropdown-list-padding: 0;
// $f-dropdown-line-height: em-calc(18);
$f-dropdown-list-hover-bg: darken($color2, 4%);
// $dropdown-mobile-default-float: 0;

// We use this to control the styles for when the dropdown has custom content.
$f-dropdown-content-padding: 0;




//
// Flex Video Variables
//

// We use these to control video container padding and margins
// $flex-video-padding-top: em-calc(25);
// $flex-video-padding-bottom: 67.5%;
// $flex-video-margin-bottom: em-calc(16);

// We use this to control widescreen bottom padding
// $flex-video-widescreen-padding-bottom: 57.25%;




//
// Inline List Variables
//

// We use this to control the margins and padding of the inline list.
// $inline-list-top-margin: 0;
// $inline-list-opposite-margin: 0;
// $inline-list-bottom-margin: em-calc(17);
// $inline-list-default-float-margin: em-calc(-22);
// $inline-list-padding: 0;

// We use this to control the overflow of the inline list.
// $inline-list-overflow: hidden;

// We use this to control the list items
// $inline-list-display: block;

// We use this to control any elments within list items
// $inline-list-children-display: block;






//
// Joyride Variables
//

// Controlling default Joyride styles
// $joyride-tip-bg: rgb(0,0,0);
// $joyride-tip-default-width: 300px;
// $joyride-tip-padding: em-calc(18 20 24);
// $joyride-tip-border: solid 1px #555;
// $joyride-tip-radius: 4px;
// $joyride-tip-position-offset: 22px;

// Here, we're setting the tip dont styles
// $joyride-tip-font-color: #fff;
// $joyride-tip-font-size: em-calc(14);
// $joyride-tip-header-weight: bold;

// This changes the nub size
// $joyride-tip-nub-size: 14px;

// This adjusts the styles for the timer when its enabled
// $joyride-tip-timer-width: 50px;
// $joyride-tip-timer-height: 3px;
// $joyride-tip-timer-color: #666;

// This changes up the styles for the close button
// $joyride-tip-close-color: #777;
// $joyride-tip-close-size: 30px;
// $joyride-tip-close-weight: normal;

// When Joyride is filling the screen, we use this style for the bg
// $joyride-screenfill: rgba(0,0,0,0.5);




//
// Keystroke Variables
//

// We use these to control text styles.
// $keystroke-font: "Consolas", "Menlo", "Courier", monospace;
// $keystroke-font-size: em-calc(14);
// $keystroke-font-color: #222;
// $keystroke-font-color-alt: #fff;
// $keystroke-function-factor: 7%;

// We use this to control keystroke padding.
// $keystroke-padding: em-calc(2 4 0);

// We use these to control background and border styles.
// $keystroke-bg: darken(#fff, $keystroke-function-factor);
// $keystroke-border-style: solid;
// $keystroke-border-width: 1px;
// $keystroke-border-color: darken($keystroke-bg, $keystroke-function-factor);
// $keystroke-radius: $global-radius;




//
// Label Variables
//

// We use these to style the labels
$label-padding: 1em;
$label-radius: $global-radius;
$label-font-sizing: em-calc(16);
$label-font-weight: normal;
$label-font-color: $body-font-color;
$label-font-color-alt: #fff;



//
// Magellan Variables
//

// $magellan-bg: #fff;
// $magellan-padding: 10px;



//
// Orbit Settings
//

// We use these to control the caption styles

// $orbit-container-bg: #f5f5f5;
// $orbit-caption-bg: rgba(0,0,0,0.6);
// $orbit-caption-font-color: #fff;
// $orbit-caption-font-size: emCalc(14);
// $orbit-caption-position: "bottom";    // Supported values: "bottom", "under"
// $orbit-caption-padding: emCalc(10,14);
// $orbit-caption-height: auto;

// We use these to control the left/right nav styles

// $orbit-nav-bg: rgba(0,0,0,0.6);
// $orbit-nav-bg-hover: rgba(0,0,0,0.6);
// $orbit-nav-arrow-color: #fff;
// $orbit-nav-arrow-color-hover: #ccc;

// We use these to control the timer styles

// $orbit-timer-bg: rgba(0,0,0,0.6);
// $orbit-timer-show-progress-bar: true;

// We use these to control the bullet nav styles

// $orbit-bullet-nav-color: #999;
// $orbit-bullet-nav-color-active: #555;
// $orbit-bullet-radius: emCalc(18);

// We use these to controls the style of slide numbers

// $orbit-slide-number-bg: rgba(0,0,0,0);
// $orbit-slide-number-font-color: #fff;
// $orbit-slide-number-padding: em-calc(5);

// Graceful Loading Wrapper and preloader

// $wrapper-class: "slideshow-wrapper";
// $preloader-class: "preloader";

//
// Pagination Variables
//

// We use these to control the pagination container

// $pagination-height: em-calc(24);
// $pagination-margin: em-calc(-5);

// We use these to set the list-item properties

// $pagination-li-float: $default-float;
// $pagination-li-height: em-calc(24);
// $pagination-li-font-color: #222;
// $pagination-li-font-size: em-calc(14);
// $pagination-li-margin: em-calc(5);

// We use these for the pagination anchor links

// $pagination-link-pad: em-calc(1 7 1);
// $pagination-link-font-color: #999;
// $pagination-link-active-bg: darken(#fff, 10%);

// We use these for disabled anchor links

// $pagination-link-unavailable-cursor: default;
// $pagination-link-unavailable-font-color: #999;
// $pagination-link-unavailable-bg-active: transparent;

// We use these for currently selected anchor links

// $pagination-link-current-background: $primary-color;
// $pagination-link-current-font-color: #fff;
// $pagination-link-current-font-weight: bold;
// $pagination-link-current-cursor: default;
// $pagination-link-current-active-bg: $primary-color;




//
// Panel Variables
//

// We use these to control the background and border styles
$panel-bg: #eaab00;
$panel-border-style: solid;
$panel-border-size: 0;

// We use this % to control how much we darken things on hover
// $panel-function-factor: 10%;
// $panel-border-color: darken($panel-bg, $panel-function-factor);

// We use these to set default inner padding and bottom margin
$panel-margin-bottom: 0;
$panel-padding: $column-width;

// We use these to set default font colors
$panel-font-color: $body-font-color;
$panel-font-color-alt: #fff;
// $panel-header-adjust: true;





//
// Pricing Table Variables
//

// We use this to control the border color

// $price-table-border: solid 1px #ddd;

// We use this to control the bottom margin of the pricing table

// $price-table-margin-bottom: em-calc(20);

// We use these to control the title styles

// $price-title-bg: #ddd;
// $price-title-padding: em-calc(15 20);
// $price-title-align: center;
// $price-title-color: #333;
// $price-title-weight: bold;
// $price-title-size: em-calc(16);

// We use these to control the price styles

// $price-money-bg: #eee;
// $price-money-padding: em-calc(15, 20);
// $price-money-align: center;
// $price-money-color: #333;
// $price-money-weight: normal;
// $price-money-size: em-calc(20);

// We use these to control the description styles

// $price-bg: #fff;
// $price-desc-color: #777;
// $price-desc-padding: em-calc(15);
// $price-desc-align: center;
// $price-desc-font-size: em-calc(12);
// $price-desc-weight: normal;
// $price-desc-line-height: 1.4;
// $price-desc-bottom-border: dotted 1px #ddd;

// We use these to control the list item styles

// $price-item-color: #333;
// $price-item-padding: em-calc(15);
// $price-item-align: center;
// $price-item-font-size: em-calc(14);
// $price-item-weight: normal;
// $price-item-bottom-border: dotted 1px #ddd;

// We use these to control the CTA area styles

// $price-cta-bg: #f5f5f5;
// $price-cta-align: center;
// $price-cta-padding: em-calc(20 20 0);

//
// Progress Bar Variables
//

// We use this to se the prog bar height

// $progress-bar-height: em-calc(25);
// $progress-bar-color: transparent;

// We use these to control the border styles

// $progress-bar-border-color: darken(#fff, 20%);
// $progress-bar-border-size: 1px;
// $progress-bar-border-style: solid;
// $progress-bar-border-radius: $global-radius;

// We use these to control the margin & padding

// $progress-bar-pad: em-calc(2);
// $progress-bar-margin-bottom: em-calc(10);

// We use these to set the meter colors

// $progress-meter-color: $primary-color;
// $progress-meter-secondary-color: $secondary-color;
// $progress-meter-success-color: $success-color;
// $progress-meter-alert-color: $alert-color;

//
// Reveal Variables
//

// We use these to control the style of the reveal overlay.

// $reveal-overlay-bg: rgba(#000, .45);
// $reveal-overlay-bg-old: #000;

// We use these to control the style of the modal itself.

// $reveal-modal-bg: #fff;
// $reveal-position-top: 50px;
// $reveal-default-width: 80%;
// $reveal-modal-padding: em-calc(20);
// $reveal-box-shadow: 0 0 10px rgba(#000,.4);

// We use these to style the reveal close button

// $reveal-close-font-size: em-calc(22);
// $reveal-close-top: em-calc(8);
// $reveal-close-side: em-calc(11);
// $reveal-close-color: #aaa;
// $reveal-close-weight: bold;

// We use these to control the modal border

// $reveal-border-style: solid;
// $reveal-border-width: 1px;
// $reveal-border-color: #666;

// $reveal-modal-class: "reveal-modal";
// $close-reveal-modal-class: "close-reveal-modal";

//
// Section Variables
//

// We use these to set padding and hover factor

// $section-title-padding: em-calc(15);
// $section-content-padding: em-calc(15);
// $section-function-factor: 10%;

// These style the titles

// $section-title-color: #333;
// $section-title-color-active: #333;
// $section-title-bg: #efefef;
// $section-title-bg-active: darken($section-title-bg, $section-function-factor);
// $section-title-bg-active-tabs: #fff;
// $section-title-bg-hover: darken($section-title-bg, $section-function-factor / 2);

// Want to control border size, here ya go!

// $section-border-size: 1px;
// $section-border-style: solid;
// $section-border-color: #ccc;

// Font controls

// $section-font-size: em-calc(14);

// Control the color of the background and some size options

// $section-content-bg: #fff;
// $section-vertical-nav-min-width: em-calc(200);
// $section-vertical-tabs-title-width: em-calc(200);
// $section-bottom-margin: em-calc(20);

// $title-selector: ".title";
// $content-selector: ".content";
// $active-region-selector: ".active";






//
// Side Nav Variables
//


// We use this to control padding.
$side-nav-padding: 0;

// We use these to control list styles.
// $side-nav-list-type: none;
// $side-nav-list-position: inside;
$side-nav-list-margin: em-calc(0);

// We use these to control link styles.
$side-nav-link-color: $body-font-color;
$side-nav-link-color-active: $primary-color;
$side-nav-font-size: inherit;
$side-nav-font-weight: normal;

// We use these to control border styles
$side-nav-divider-size: 0px;
// $side-nav-divider-style: solid;
// $side-nav-divider-color: darken(#fff, 10%);



//
// Sub Nav Variables
//

// We use these to control margin and padding

// $sub-nav-list-margin: em-calc(-4 0 18);
// $sub-nav-list-padding-top: em-calc(4);

// We use this to control the definition

// $sub-nav-font-size: em-calc(14);
// $sub-nav-font-color: #999;
// $sub-nav-font-weight: normal;
// $sub-nav-text-decoration: none;
// $sub-nav-border-radius: 1000px;

// We use these to control the active item styles

// $sub-nav-active-font-weight: bold;
// $sub-nav-active-bg: $primary-color;
// $sub-nav-active-color: #fff;
// $sub-nav-active-padding: em-calc(3 9);
// $sub-nav-active-cursor: default;

// $sub-nav-item-divider: "" !default;
// $sub-nav-item-divider-margin: emCalc(12) !default;

//
// Switch Variables
//

// Controlling border styles and background colors for the switch container

// $switch-border-color: darken(#fff, 20%);
// $switch-border-style: solid;
// $switch-border-width: 1px;
// $switch-bg: #fff;

// We use these to control the switch heights for our default classes

// $switch-height-tny: 22px;
// $switch-height-sml: 28px;
// $switch-height-med: 36px;
// $switch-height-lrg: 44px;
// $switch-bottom-margin: em-calc(20);

// We use these to control default font sizes for our classes.

// $switch-font-size-tny: 11px;
// $switch-font-size-sml: 12px;
// $switch-font-size-med: 14px;
// $switch-font-size-lrg: 17px;
// $switch-label-side-padding: 6px;

// We use these to style the switch-paddle

// $switch-paddle-bg: #fff;
// $switch-paddle-fade-to-color: darken($switch-paddle-bg, 10%);
// $switch-paddle-border-color: darken($switch-paddle-bg, 35%);
// $switch-paddle-border-width: 1px;
// $switch-paddle-border-style: solid;
// $switch-paddle-transition-speed: .1s;
// $switch-paddle-transition-ease: ease-out;
// $switch-positive-color: lighten($success-color, 50%);
// $switch-negative-color: #f5f5f5;

// Outline Style for tabbing through switches

// $switch-label-outline: 1px dotted #888;





//
// Table Variables
//

// These control the background color for the table and even rows
$table-bg: transparent;
$table-even-row-bg: transparent;
$table-border-style: solid;
$table-border-size: 0px;
$table-border-color: #ddd;
$table-head-bg: transparent;
$table-head-font-size: inherit;
$table-head-font-color: $color2;
$table-head-font-weight: bold;
$table-head-padding: em-calc(10);
$table-row-padding: em-calc(5) em-calc(20);
$table-row-font-size: inherit;
$table-row-font-color: inherit;
$table-line-height: $paragraph-line-height;
$table-display: table-cell;
$table-margin-bottom: $paragraph-margin-bottom;




//
// Image Thumbnail Variables
//

// We use these to control border styles

// $thumb-border-style: solid;
// $thumb-border-width: 4px;
// $thumb-border-color: #fff;
// $thumb-box-shadow: 0 0 0 1px rgba(#000,.2);
// $thumb-box-shadow-hover: 0 0 6px 1px rgba($primary-color,0.5);

// Radius and transition speed for thumbs

// $thumb-radius: $global-radius;
// $thumb-transition-speed: 200ms;

//
// Tooltip Variables
//

// $has-tip-border-bottom: dotted 1px #ccc;
// $has-tip-font-weight: bold;
// $has-tip-font-color: #333;
// $has-tip-border-bottom-hover: dotted 1px darken($primary-color, 20%);
// $has-tip-font-color-hover: $primary-color;
// $has-tip-cursor-type: help;

// $tooltip-padding: em-calc(8);
// $tooltip-bg: #000;
// $tooltip-font-size: em-calc(15);
// $tooltip-font-weight: bold;
// $tooltip-font-color: #fff;
// $tooltip-line-height: 1.3;
// $tooltip-close-font-size: em-calc(10);
// $tooltip-close-font-weight: normal;
// $tooltip-close-font-color: #888;
// $tooltip-font-size-sml: em-calc(14);
// $tooltip-radius: $global-radius;
// $tooltip-pip-size: 5px;





//
// Top Bar Variables
//

// Background color for the top bar
$topbar-bg-color: #fff;
$topbar-bg: $topbar-bg-color;

// Height and margin
$topbar-height: 50px;
$topbar-margin-bottom: 0;

// Control Input height for top bar
// $topbar-input-height: 2.45em;

// Controlling the styles for the title in the top bar
// $topbar-title-weight: bold;
// $topbar-title-font-size: em-calc(17);

// Style the top bar dropdown elements
$topbar-dropdown-bg: $color2;
$topbar-dropdown-link-color: #fff;
$topbar-dropdown-link-bg: $topbar-dropdown-bg;
// $topbar-dropdown-toggle-size: 5px;
// $topbar-dropdown-toggle-color: #fff;
// $topbar-dropdown-toggle-alpha: 0.5;

// Set the link colors and styles for top-level nav
$topbar-link-color: $color1;
$topbar-link-color-hover: #fff;
$topbar-link-color-active: #fff;
$topbar-link-weight: normal;
$topbar-link-font-size: em-calc(12);
// $topbar-link-hover-lightness: -30%; // Darken by 30%
$topbar-link-bg-hover: $color2;
$topbar-link-bg-active: $color2;
// $topbar-dropdown-label-color: #555;
// $topbar-dropdown-label-text-transform: uppercase;
// $topbar-dropdown-label-font-weight: bold;
// $topbar-dropdown-label-font-size: em-calc(10);
// $topbar-dropdown-label-bg: lighten($topbar-bg-color, 5%);

// Top menu icon styles
// $topbar-menu-link-transform: uppercase;
// $topbar-menu-link-font-size: em-calc(13);
$topbar-menu-link-weight: normal; 
$topbar-menu-link-color: $color2;
$topbar-menu-icon-color: $color2;
$topbar-menu-link-color-toggled: $color2;
$topbar-menu-icon-color-toggled: $color2;

// Transitions and breakpoint styles
$topbar-transition-speed: 300ms;
$topbar-breakpoint: 1023px !default; // Change to 9999px for always mobile layout
$topbar-media-query: "only screen and (min-width: #{$topbar-breakpoint})";
$topbar-media-query-max: "only screen and (max-width: #{$topbar-breakpoint})";

// Divider Styles
$topbar-divider-border-bottom: solid 1px $color1;
$topbar-divider-border-top: 0px;

// Sticky Class
// $topbar-sticky-class: ".sticky";
// $topbar-arrows: true; //Set false to remove the triangle icon from the menu item
